.widget
{
    border: 1px solid #808080;
    background-color: white;
    margin-bottom:10px;
}

.widget .widget-viewport
{
    overflow: hidden;
    position: relative;
}

.widget.listing_report .report-viewport
{
    overflow: visible;
}

.widget.listing_report .info-bar
{
    border: none;
    border-top: 1px solid #39f;
    padding: 4px;
    background: #def;
    color: #369;
    text-align: center;
}

.widget.listing_report .error
{
    border-top: 1px solid #c00;
    background: #fdd;
    color: #c00;
    padding: 5px 0;
    text-align: center;
    width: 100%;
}

.widget.listing_report .error a
{
    color: #c00;
    cursor: pointer;
}

.widget .widget-mask
{
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.widget.pie_chart .widget-mask
{
    background-image: url('../../../Images/new/watermark/pie-standard-watermark.gif');
    background-size : 300px 300px;
    min-height: 280px;
}

.widget.bar_chart .widget-mask
{
    background-image: url('../../../Images/new/watermark/bar-watermark.gif');
    background-size : 300px 250px;
    min-height: 280px;
}

.widget.line_graph .widget-mask
{
    background-image: url('../../../Images/new/watermark/line-watermark.gif');
    background-size : 300px 250px;
    min-height: 280px;
}

.widget.gauge_chart .widget-mask
{
    background-image: url('../../../Images/new/watermark/gauge-watermark.gif');
    background-size : 300px 350px;
    min-height: 280px;
}

.widget.pareto_graph .widget-mask
{
    background-image: url('../../../Images/new/watermark/pareto-watermark.gif');
    background-size : 300px 250px;
    min-height: 280px;
}

.widget.traffic_light_chart .widget-mask
{
    background-image: url('../../../Images/new/watermark/traffic-watermark.gif');
    background-size : 300px 100px;
    min-height: 120px;
}

.widget.listing_report .widget-mask
{
    background-image: url('../../../Images/new/watermark/listing-watermark.gif');
    background-size : 300px 250px;
    min-height: 280px;
}

.widget.crosstab_report .widget-mask
{
    background-image: url('../../../Images/new/watermark/crosstab-watermark.gif');
    background-size : 300px 250px;
    min-height: 280px;
}

.widget.spc_chart .widget-mask
{
    background-image: url('../../../Images/new/watermark/spc-watermark.gif');
    background-size : 300px 300px;
    min-height: 280px;
}

.widget_body
{
    width: 100%;
    overflow: hidden;
    z-index: 0;
}

.widget.crosstab_report .widget_body, .widget.listing_report .widget_body
{
     overflow: auto;
}

.widget_wait
{
    border-bottom: 1px solid #39f;
    background: #def;
    color: #369;
    font-size: 12px;
    left: 0;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 20;
}

.widget-error
{
    border-bottom: 1px solid #c00;
    background: #fdd;
    color: #c00;
    font-size: 12px;
    left: 0;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 20;
}

.widget_header
{
    font-weight:bold;
    font-size:0.89em;
    font-family: sans-serif;
    text-align:center;
    padding-top:5px;
    padding-bottom:5px;
    cursor:default;
    background-color: #094367;
    color: #FFF;
    position: relative;
    z-index: 0;
}
div.dashboard
{
    border: 1px solid #808080;
    background-color: white;
    padding:5px;
}
div.column
{
    float:left;
    background-color: white;
    padding:5px;
    height:100%;
}

.settings_link
{
    position:absolute;
    right:0;
    top:0;
    text-align: right;
    font-size: 0px;
}

.settings_link img
{
    display: inline-block;
    height: 14px;
    padding: 3px 4px 4px 4px;
    width: 14px;
}

ul.settings_list
{
    list-style-type:none;
    padding:0 0 3px;
    margin:0;
    cursor:pointer;
}

ul.dropdown
{
    overflow: visible;
    z-index: 500;
    line-height: 1px;
    position: relative;
}

ul.dropdown li
{
    overflow: visible;
}

ul.sub_menu
{
    text-align: center;
    line-height: 11px;
    font-size: 11px;
}

li.settings_option, ul.sub_menu li
{
    padding:5px;
    border-top: 1px solid #808080;
    width: 90px;
}

ul.sub_menu li:first-child
{
    border-top: none;
}

ul.dropdown .sub_menu, ul.dropdown .sub_menu ul
{
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    display: none;
    position: relative;
    width: 100px;
    right: 0;
    z-index: 100;
}

ul.dropdown .sub_menu ul
{
    position: absolute;
    top: -1px;
    right: 100px;
}

.dropdown li:hover .sub_menu, ul.dropdown .sub_menu li:hover ul
{
    display: block;
}

ul.dropdown .sub_menu li
{
    position: relative;
}

.settings_link .sub_menu li:hover
{
    background-color: #C0C0FF;
}

li.unimplemented, li.unimplemented:hover
{
    cursor: not-allowed;
    color: #808080;
    background: #ccc;
}

.widget_placeholder
{
    height:200px;
    background-color: #F0F0F0;
    border:black dashed 1px;
    margin-bottom:10px;
}

/* Dashboard Tabs */

/*div.dashboard_tab a{ text-decoration:none; border: 1px solid #666; color:#666; border-bottom:none; float:left; margin:0 -1px 0 0px; padding:4px 8px; cursor:pointer; display:block;
}
div.dashboard_tab a:hover
{
cursor:pointer; background-color:#CCC; color:#333;
}

.dashboard_tab_contents
{ float:left; font:12px Tahoma, Geneva, sans-serif;
}
.dashboard_title
{}
a span.dashboard_title:hover
{
color:#333;
}
span.dashboard_tab_x
{
margin-left:10px; font-weight:bold; padding:0px 4px 1px 4px;
}
a span.dashboard_tab_x:hover
{ color:#Fff; background-color:#666;
}

div.add_new_dashboard_tab
{
font:12px Tahoma, Geneva, sans-serif; color:#C0C0C0;
}
div.add_new_dashboard_tab a
{ background-color:#CCC; font-weight:bold;
}
div.add_new_dashboard_tab a:hover
{
background: #FFFFFF; color: grey; cursor: pointer;
}*/

span.dashboard_tab_x
{
    margin-left:2px; font-weight:bold; padding:0px;
}
span.dashboard_tab_x:hover
{ color:#Fff; background-color:#666;
}

li.dashboard_tab
{
    white-space:nowrap; overflow:visible;
}

.empty_dashboard_message
{
    font-size: 4em;
    text-align: center;
    padding:20px;
    color: #E0E0E0;
}

.dashboard_options
{
    padding:6px;
    border-top: #C0C0C0 solid 1px;
}
.dashboard_options_link_row
{
    text-align: right;
    padding-bottom: 6px;
}
.dashboard_options_link
{
    cursor: pointer;
    border:#C0C0C0 solid 1px;
    padding: 6px;
}
.dashboard_options_button_row
{
    text-align: center;
}

/* The floating panel for the widget thumbnails to appear in */
.widget_side_panel
{
    position: fixed;
    left:20px;
    top:0;
    bottom:0;
    width: 200px;
    background: white;
    border-right:solid 1px black;
    border-left:solid 1px black;
    overflow: scroll;
    overflow-x: hidden;
}

.widget_panel_trigger
{
    position: fixed;
    left:0;
    top:0;
    bottom:0;
    width: 20px;
    background-color: #C0C0FF;
    border-right:solid 1px black;
}


/* The actual list of reports in the widget sidebar */
.report_thumb_list
{
    border:solid #E0E0E0 1px;
    margin:5px;
    padding:5px;
    text-align:center;
    background-color: #e7edf0;
    font-size: 12px;
}



/*becuase crosstabs need to look different on the dashboard*/
.header
{
    color: black;
    background-color: #afc6db;
    cursor: pointer;
}

.header:hover
{
    color: black;
    background-color: #afc6db;
    cursor: pointer;
}

.onTop
{
  z-index: 10000;
}