/* ricoLiveGridForms */

span.ricoSaveMsg {
  background-color:yellow;
}

span.ricoSessionTimer {
  background-color:black;
  color:white;
}

div.ricoLG_editDiv, div.ricoLG_editResponseDiv {
  color:#000; background:#D1DCE2;
  overflow:auto;
  padding:8px;
  border: 1px solid navy;
  position:absolute;
  z-index:300;
  top:0px;
  left:0px;
}

div.ricoLG_editDiv *, div.ricoLG_editResponseDiv {
  font-size: 10pt;
}

form .ricoEditLabel, form .ricoEditLabelWithHelp {
  font-weight: bold;
  text-align: left;
  padding-right: 1em;
}

form .ricoEditLabelWithHelp {
  color: navy;
}

form {
  margin:0px;
}

.tabHeader {
  height: 1.8em;
	color : #AAA;
	background: #D8E0F2;
	font-weight : bold;
  float: left;
  display: inline;
  margin-left: 2px;
  margin-right: 2px;
  text-align: center;
  white-space:nowrap;
  overflow:hidden;
}

.tabHover {
	color : #666;
  cursor: pointer;
}

.tabSelected {
	color : #444;
	background: #D1DCE2;
  cursor: auto;
}

.tabContentContainer {
  clear:both;
}

div.ricoLG_editDiv .tabContent, div.ricoLG_editDiv .noTabContent {
  color:#000; background:#FFFFFF;
  overflow: hidden;
  padding: 4px;
  white-space:nowrap;
}

div.ricoLG_editDiv .noTabContent {
  float:left;  /* required by IE7 */
}

span.ricoLookup {
  display:none;
}

