/* display grid headings with a green background */

tr.ricoLG_hdg .ricoLG_cell, tr.ricoLG_hdg th, tr.ricoLG_hdg td {  /* td/th required for IE */
  background-color : #D1DCE2;           
  color            : #000000;
  font-weight      : bold;
  text-align       : center;
}
div.ricoLG_selection {
  background-color: #E7EDF0;
}
div.ricoLG_chooser .ricoTitle  {
  background-color: #E7EDF0;
  color: black;
}
tr.ricoLG_hdg div.hover, table.ricoLiveGrid thead td, table.ricoLiveGrid thead th {
  background-color: #dee8cd !important;
}

.ricoLG_evenRow   { background-color: #FFFFFF; }
.ricoLG_oddRow    { background-color: #FFFFFF; }
.ricoLG_selection { background-color: #E7EDF0; }

div.ricoLG_cell 
{
    white-space:nowrap;
}