div#wrapper
{
    min-width: 1120px;
    width: expression( document.body.clientWidth < 1121 ? "1120px" : "auto" );  /* set min-width IE7 */
}

#B .content
{
    background-color: #F5F9FF;
}

.clear
{
    clear: both;
}

.center
{
    margin: 0 auto;
}

.content_header
{
    border-bottom: 1px solid #ccc;
    height: 35px;
    margin: 5px;
}

.left_div
{
    float: left;
    width: 40%;
    padding: 10px;
}

.left_div_content
{
    width: 360px;
}

.middle_div
{
    float: left;
    width: 10%;
    padding: 2px 10px 2px 10px;
    min-width: 110px;
    max-width: 110px;
    margin-left: 15px;
}

.middle_header
{
    float: left;
    width: 50%;
}

.middle_header_left
{
    height: 25px;
    border-right: 1px solid #ccc;
}

.right_div
{
    float: left;
    width: 40%;
    padding: 10px 10px 10px 0px;
}

.right_div_content
{
    width:300px;
}

.reporting_field_label
{
    float: left;
    margin-top: 5px;
    width: 50px;
}

.reporting_field_select
{
    width: 300px;
    height: 209px;
}

.reporting_field_button
{
    margin: auto;
    width: 90%;
}

.button_top
{
    margin-top: 80px;
    margin-bottom: 10px;
}