/** 									{ margin: 0; padding: 0; }*/
/*body								{ font: 14px Helvetica, Sans-Serif; }
#page-wrap							{ width: 800px; margin: 25px auto; }*/
a									{ text-decoration: none; }
ul									{ list-style: none; margin: 0; padding: 0; }
p                                   { margin: 15px 0; }

/*
	LEVEL ONE
*/
ul.dropdown                         { position: relative;

    list-style-type:none;
    padding:3px;
    padding-top:0px;
    padding-right:0px;
    margin:0px;
    text-align:right;
    cursor:pointer;




}
ul.dropdown li                      { font-weight: bold; float: right; zoom: 1; overflow:visible;  width:80px}
/*ul.dropdown a:hover		            { color: #000; }
ul.dropdown a:active                { color: #ffa500; }
ul.dropdown li a                    { display: block; padding: 4px 8px; border-right: 1px solid #333;
	 								  color: #222; }
ul.dropdown li:last-child a         { border-right: none; }*/ /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover                { color: black; position: relative; }
ul.dropdown li.hover a              { color: black; }


/*
	LEVEL TWO
*/
ul.dropdown ul 						{ visibility: hidden; position: absolute; top: 100%; right: 0; text-align:center; z-index:10; border: 1px black solid;}
ul.dropdown ul li                     { font-weight: normal; color: #000;
                                        padding:5px;
                                        background-color: white;
                                        border-top: grey 1px solid;
                                      }

                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					{ border-right: none; width: 100%; display: inline-block; }

/*
	LEVEL THREE
*/
ul.dropdown ul ul 					{ right: 97%; top: 0; }
ul.dropdown li:hover > ul 			{ visibility: visible; }