.crosstab {
    color: #000000;
}

.total {
    color: #000000;
    background-color: #D0D0D0;
}

.header {
    color: black;
    background-color: #afc6db;
    cursor: pointer;
}

.header:hover {
    color: white;
    background-color: gray;
    cursor: pointer
}

table.crosstab,tr.crosstab,td.crosstab  {
    border-collapse:collapse;
    border: 1px solid gray;
    padding: 5px;
}

table.crosstab {
    width: 100%;
}

td.data {
    text-align: right;
}

td.top-header {
    text-align: center;
}

.crosstab-title {
    background-color: #094367;
    color: white;
    padding:6px;
    text-align:center;
    font-weight:bold;
}