/*------	Basic style	------*/

#menu {display: block;}

#menu ul {
	left:0px;
	top:24px;
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
}


#menu li {
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	float: left;
	position: relative;
}

#menu a {
	display: block;
}

* html #menu li a {
	position: relative;/* Fix IE6's inability to expand clickable area */
}

#menu li ul {
	visibility: hidden;
	position: absolute;
	z-index: 10;
}

/* using display is better (no scrollbars when page loads), but IE can't handle it, so only good browsers should see this */
html>body #menu li ul {
	display: none;
}

#menu li li {
	width: 100%;
}

#menu ul li ul li.arrow {
	background:url(../i/menuArrow.gif) no-repeat 140px 10px;
	}
	

/* fix the position */
#menu li li ul {
	top: 0;
	left: 100%;
}

/* simulate child selector for IE */
div#menu li.iehover ul,
#menu li.iehover li.iehover ul,
#menu li.iehover li.iehover li.iehover ul {
	visibility: visible;
}
div#menu li.iehover li ul,
#menu li.iehover li.iehover li ul,
#menu li.iehover li.iehover li.iehover li ul {
	visibility: hidden;
}

/* do the normal show, with increased specificity, for good browsers */
#menu ul#menuList li:hover>ul {
	display: block;
	visibility: visible;
}
/*		------   Make-up	--------			*/
#menuframe {
	position:relative;
	z-index:10;
}
#menu {
	font-family:Arial, Helvetica, sans-serif;
	font-size: .83em;
	color: #000;
	height: 25px;
	margin:4px auto 0 0;
	float:left;
	padding:0px;
	background:#083c5c;
	width:100%;
	/* min-height: 60px; Height mentioned above	 */
}

#menu li {
	background:none;
}

#menu li li {
	background: none;
	border-right: 0px;

}

#menu li li:last-child {
	border-bottom:0px;
}

#menu a {
	font-size: 11px;
	font-weight: bold;
	text-align:center;
	text-decoration: none;
	color: #333;
	/*padding: 8px 3em 9px;
	border-bottom:1px solid #ccc;*/
}

#menu li:hover>a {
	color: #fff;
	background:#094367 url(../images/arrow.gif) no-repeat right 10px;
}


#menu li li:hover>a {
	color: #abc;
	background: transparent url(images/inset3.png) no-repeat left;
}

#menu li ul {
	color: #fff;
	border-width: 0 1px 1px 0; 

}

#menu li li ul {
	border-top-width: 0px; 
}

#menu li li li:first-child {
	border-top: none;
}

#menu li li.submenu>a:after {
	content: " ...";
}



/**** Inline STYLE-tag style sheet ****/

 /* @import "css/Menu.css"; */ 

#menu a:hover {

}

#menu li li {
	width:200px;/* 	we can't use 100% because LIs have margin and padding (although latter is more important) */

	height:auto;

}

#menu li ul {
	color: #000;
	background-color: #094367;	
	background-repeat: repeat-y;
	width: 200px;
	height:auto;
}

#menu li ul a {

	color:#fff;
	text-align: left;
	padding:1px 0 0 9px;
}

#menu li ul a:hover {color:#fff; background-color:#ff6600;}

/* tabs */

#menuframe ul {
	height: 25px;
	list-style: none;
	margin: 0px 0 0 0;
	_width:auto; /* IE6 */
	padding:0px;
}
#menuframe li {
	display: block;
	height: 25px;
	float: left;
	margin: 0px;
	text-align: center;
	
	background-repeat:no-repeat;
	background-position:right;
}

#menuframe li:hover {	
	background-repeat:no-repeat;
	background-position:right;}

#menuframe li.end {
	display: block;
	height: 25px;
	float: left;
	margin: 0px 1px 0px; 
	text-align: center;
	background-image:none;
}
#menuframe a{
	border: none;
	color: #fff;
	display: block;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight: bold;
	
	line-height: 25px;
	padding: 0 20px 0 12px;
	text-align: center;
	text-decoration: none;
	border-right:2px solid #094367;
	background:url(../images/arrow.gif) no-repeat right 10px;
}

#menuframe ul li ul li a{border-right:none; background-image:none;}

#menuframe a:hover {
	color:#666;
	height:auto;
	background:#fff url(../images/arrow-on.gif) no-repeat right 10px;
}


/*		------   Specific fixes	(thank to W3C for these) --------			*/
/* 
		I'm gonna move the submenus 5px up
		5px works fine here and it is roughly calculated as:
			padding-bottom + margin-bottom + border-bottom of the LI
			+
			*-top values of the LI
			
		Mostly it needs a bit of trial and error.
		Basic idea is to remove the scrollbar when menu re-positioning is perfomed. Of course, script could take care of that, but that takes too much code - this is easier.
*/
#menu li li ul {
	margin-top: -5px;
}



/* Fixes for IE5/Mac \*//*/

#menu a {
	float: left;
}

html>body #menu li ul {
	display: block;
}

#menu li ul {
	top: 24px;
	left: 0;
}

#menu li li ul {
	top: 0;
	left: 100%;
}

/**/


/**** Inline STYLE-tag style sheet ****/

 /* /* @import "css/menu.css"; */ 






 /* @import url("Disabled for Preview-in-Browser: STYLES/menu.css"); */ 




