div.PopupBackgroundBlock {
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.15;
    filter:alpha(opacity=15); /* IE patch */
    background-color: black;
}

#floating_window_encasement
{
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    visibility: hidden;
}
div.floating_window_contents
{
    padding-top: 3px;
    padding-bottom: 10px;
    font-size:12px;
}
div.floating_window
{
    position: absolute;
    background-color: #094367;
    padding: 2px 2px 2px 2px;
    border: 1px solid white;
}
div.floating_window_title
{
    padding: 2px 2px 4px 2px;
    color: #6E94B7;
    font-weight: bold;
    position:relative;
}
div.floating_window_container
{
    padding: 4px 4px 4px 4px;
    background-color: #d1dce2;
}
div.floating_window_buttons
{
    padding: 2px 0px 0px 0px;
    height: auto;
    text-align:center;
}
div.floating_window_close
{
    color: white;
    font-weight: bold;
}

span.edit_options
{
    position:absolute;
    right:0;
    vertical-align:middle;
    text-align:right;
    cursor:pointer;
    margin-right:3px;
}

#contactlist_window, #medicationlist_window, #equipmentlist_window, #floating_window_match_evidence, #organisationlist_window
{
position: absolute;
left: 0px;
top: 0px;
background-color: #094367;
padding: 2px 2px 2px 2px;
border: thin solid white;
height: auto;
width: 408px;
}

#contactlist_title, #medicationlist_title, #equipmentlist_title, #organisationlist_title
{
padding: 2px 2px 4px 2px;
color: white;
font-weight: bold;
width: 400px;   
position: relative;  
}

#contactlist_container, #medicationlist_container, #equipmentlist_container, #floating_window_container_match_evidence, #organisationlist_container
{
padding: 4px 4px 4px 4px;
background-color: #D1DCF2;
width: 400px;
position: relative;
overflow: auto;
}

#floating_window_container_match_evidence
{
	width: auto;
}

.bordercolor
{
    background-color: #F5F9FF;
}