/* Datix colours

Light blue grey - #d1dce2 (used for body and main page backgrounds)
dark blue grey - #b0c1cc (used for overdue items on homescreens)
even lighter blue grey - #e7edf0 (used for status titles on homescreens and some section titles)
even even lighter blue grey - #f5f9ff (used for form item backgrounds)

dark blue - #094367 (used for header and footer background)
even darker blue - #083c5c (used for title font colours and the lower nav bar, for whatever reason)

orange - #ff6600 (used for the orange highlight and other accents)

other colours are used throughout the system, but not consistently enough to warrent keeping a track of them yet
*/

/* CSS RESET=
----------------------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend
{
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    /*outline: 0;*/
    padding: 0;
    margin: 0;
    border: 0;
}

/* remember to define focus styles! */
:focus
{
    /*outline: 0;*/
}

html,body
{
    margin-bottom: 0.1px;
}

body
{
    background: #fff;
    line-height: 1;
    color: black;
}

ol, ul
{
    list-style: none;
}

ul
{
    margin: 0;
    padding: 0;
}

p
{
    margin: 15px 0;
}

/* tables still need cellspacing="0" in the markup */
table
{
    /*border-collapse: separate; Removed because otherwise IE doesn't show empty table cells*/
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
}

caption, th, td
{
    font-weight: normal;
    text-align: left;
    vertical-align: middle;
}

/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after
{
    content: "";
}

blockquote, q
{
    quotes: "" "";
}

/* STRUCTURE LAYOUT=
----------------------------------------------------------------------------------------------*/

.clearfix
{
    clear: both;
}

.nofloat
{
    float: none !important;
}

body
{
    font-family: Tahoma, Geneva, sans-serif;
    background-color: #d1dce2;
    min-width: 1000px;
}

div#wrapper
{
    margin: 10px;
}

.content
{
    overflow: auto;
    overflow-y: hidden;
    position: relative;
}

.content ul li a
{
    text-decoration: none;
}

/**
 * =tables
 */
table
{
    border-right: 1px solid #e7edf0;
    border-top: 1px solid #e7edf0;
    font-family: Arial, Helvetica, sans-serif;
}

td, th
{
    border-left: 1px solid #e7edf0;
    border-bottom: 1px solid #e7edf0;
    border-top: 1px solid #e7edf0;
    padding: 5px;
    font-size: 12px;
    color: #083c5c;
}

.ricoLG_table td, .ricoLG_table th
{
    padding: 0;
}

th
{
    font-weight: bold;
}

td
{
    color: #083c5c;
}

td.sort
{
    background-color: #f8f8f8;
}

table input
{
    margin: 0;
}

/* @todo Replace .tableHeader class with thead selector */
.tableHeader
{
    font-weight: bold;
    background-color: #083c5c;
    color: #FFF;
    font-size: 11px;
}

/* @todo These styles are inherited from .tableHeader above. We should remove the default styles from the global a ruleset and not duplicate the code here */
.tableHeader a,
.tableHeader th
{
    font-weight: bold;
    color: #FFF;
    font-size: 11px;
}

.tableHeader a.sort
{
    background: url(../Images/sorter-sprite.png) right 0.09em no-repeat transparent;
    padding-right: 1.18em;
}

.tableHeader a.sort.asc
{
    background-position: right -19px;
}

.head2
{
    font-size: 11px;
}

.muted-table .tableHeader
{
    background-color: #666;
}

.muted-table .listing-row, .muted-table .listing-row td, .muted-table td
{
    color: #333;
}

.muted-table .listing-row:hover, .muted-table .listing-row:hover td
{
    background-color: #eee;
}

tr.records
{
    font-size: 11px;
    background-color: #a3e066;
    color: #FFF;
    padding: 2px;
}

tr.overdue
{
    font-size: 11px;
    background-color: #f66;
    color: #FFF;
    padding: 2px;
}

tr.approved
{
    font-size: 11px;
    background-color: #cbeea8;
    color: #FFF;
    padding: 2px;
}

tr.overdue a, tr.records  a
{
    color: #000;
}

table .selector
{
    width: 0.8125em;
}

a
{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #083c5c;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

/* Header
----------------------------------------------------------------------------------------------*/

div#H
{
    background-color: #094367;
    position: relative;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    min-height: 58px;
    _height: 58px; /* Targets IE 6. Will act like min-height */
    z-index: 100;
}

#upper-nav
{
    float: left;
    width: 100%;
}

#H .logo
{
    float: right;
    margin: 5px 10px 0 0;
}

#H .logo img
{
    height: 23px;
    width: 120px;
}

#H .logo h1
{
    color: #fff;
}

#H #sub-menu
{
    margin: 7px 0 7px 2px;
}

#H #sub-menu ul
{
    line-height: 15px;
}

#H #sub-menu ul li
{
    float: left;
    white-space: nowrap;
}

#sub-menu ul li.last-item
{
    clear: right;
}

#H #sub-menu ul li a
{
    border-right: 1px solid #fff;
    color: #FFF;
    font-weight: bold;
    font-size: 11px;
    font-family: Tahoma,Arial, Geneva, sans-serif;
    text-decoration: none;
    padding: 0 10px;
    white-space: nowrap;
}

#H #sub-menu ul li.selected a
{
    color: #f60;
}

#H #sub-menu ul li a:hover
{
    color: #f60;
}

#lower-nav
{
    background: #083c5c;
    float: left;
    width: 100%;
}

ul.topnav
{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.2em;
}

ul.topnav li
{
    float: left;
    height: 28px;
    margin: 0;
    padding: 0 5px 0 0;
    position: relative;
    border-right:2px solid #094367;
    white-space: nowrap;
}

ul.topnav li a
{
    padding: 9px 5px 8px 16px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-weight:bold;
    font-size: 11px;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    vertical-align: top;
}

ul.topnav li:hover,
ul.topnav li a:hover
{
    background-color:#094367;
}

/*--Drop down trigger styles--*/
ul.topnav .nav-arrow
{
    background: url(../Images/subnav_btn.gif) no-repeat center top;
    display: inline-block;
    height: 25px;
    vertical-align: top;
    width: 17px;
}

ul.topnav li span.subhover
{
    background-position: center bottom;
    cursor: pointer;
}

ul.topnav li ul.subnav
{
    list-style: none;
    position: absolute;
    left: 0; top: 28px;
    background: #094367;
    margin: 0; padding: 0;
    display: none;
    width: auto;
    overflow: hidden;

    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;

}

ul.topnav li ul.subnav li
{
    margin: 0;
    padding-right: 10px;
    clear: both;
    display:block;
    height: auto;
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #083c5c;
}

ul.topnav li ul.subnav li a
{
    float:left;
    background: #094367;
    display:block;
    position:relative;
    width: 100%;
}

ul.topnav li ul.subnav li div
{
    float:left;
    background: #094367;
    display:block;
    width: auto;
    position:relative;
}

ul.topnav li div
{
    padding: 8px 5px 7px 16px;
    color: #fff;
    display: block;
    text-decoration: none;
    float: left;
    font:bold 11px Tahoma,Arial,Helvetica,sans-serif;
    white-space: nowrap;
}

ul.topnav li ul.subnav li a img
{
    border:none;
}

ul.topnav li ul.subnav li a:hover
{
    background-color:#ff6600;
}

#uname
{
    color: #FFF;
    float: right;
    height: 20px;
    padding: 8px 10px 0 0;
    background-color: #083c5c;
    text-align: right;
    font-weight: bold;
    font-size: 11px;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    overflow: hidden;
    white-space: nowrap;
}

#H:after
{
    content: '.';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

/* Body
----------------------------------------------------------------------------------------------*/
div#B
{
    background-color: #FFF;
    padding: 5px;
    position: relative;
}

#B .canvasA
{
    background-color: #e7edf0;
    padding: 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

#B .canvasB
{
    background-color: #fff;
    border: 1px solid #d1dce2;
    display: block;
    position: relative;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
}

#B .status_warning
{
    border: 1px solid #F00;
    padding: 4px;
    background-color: #ff9c9c;
    margin-bottom: 10px;
}

#B .status_warning a
{
    font-size: 12px;
    font-weight: bold;
    color: #900;
}

.status_info
{
    border: 1px solid #39f;
    padding: 4px;
    background: #def;
    color: #369;
    text-align: center;
}

#B .post
{
    background-color: #094367;
    position: relative;
    margin-bottom: 5px;
}

#B .title span
{
    color: #fff;
    font: bold 14px Tahoma, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

#B .post h2, #B .title h2
{
    color: #fff;
    font: bold 14px Tahoma, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    float: left;
}

#B .title
{
    padding: 4px;
    background-color: #333;
    position: relative;
}

#B .showhide a
{
    width: 100%;
    height: 25px;
    display: block;
    padding: 0;
    text-decoration: none;
    background: #094367 url("../images/data_swap_img.gif") no-repeat right top;
}

#B .stylebar a
{
    background-color: #D1DCE2!important;
    font-weight: bold;
}

#B .stylebar a span
{
    padding: 6px;
}

#B .showhide a h2
{
    padding: 4px;
}

#B .showhide a:hover
{
    background-color: #efefef;
}

#B #col1, #B .col2
{
    float: left;
}

#B #col1
{
    width: 200px;
}

#B .heading
{
    background-color: #d1dce2;
    padding: 10px 8px;
    position: relative;
}

#B .heading h1
{
    font-size: 15px;
    font-weight: bold;
    color: #083c5c;
    padding: 0;
    margin: 0;
}

#B .heading h1 img
{
    float: left;
    height: 32px;
    width: auto;
    position: relative;
    margin-right: 10px;
}

#B .heading h1 span
{
    padding: 8px 0 0 0;
    display: inline-block;
}

#B .heading #title-additional
{
    border-top: 1px solid #b0c1cc;
    margin: 10px 0 0;
    padding: 10px 0 0;
    text-align: right;
}

#B .heading .page_subtitle
{
    font-size: 12px;
    margin: 10px 0;
}

#B .heading .page_subtitle p
{
    margin-bottom: 0;
}

#B .breadcrumb
{
    background-color: #E7EDF0;
    padding: 10px 8px;
    position: relative;
}

#B .breadcrumb a
{
    font-size: 12px;
    font-weight: bold;
    color: #083c5c;
}

#B .breadcrumb h1
{
    font-size: 12px;
    font-weight: bold;
    color: #083c5c;
}

/* Side Menu */
#B #col1 .sideMenu li
{
    margin-bottom: 1px;
}

#B #col1 .sideMenu li a
{
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    background-color: #e7edf0;
    color: #083c5c;
    display: block;
    padding: 3px 5px;
}

#B #col1 .sideMenu li ul li a
{
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    background-color: #fff;
    color: #083c5c;
    display: block;
    padding: 2px 0 1px 15px;
}

#B #col1 .sideMenu li ul li ul li a
{
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    background-color: #fff;
    color: #083c5c;
    display: block;
    padding: 2px 0 1px 30px;
}

#B #col1 .sideMenu li ul li a:hover
{
    color: #ff6600;
    background-color: #fff;
}

#B #col1 .sideMenu li a:hover
{
    background-color: #FF6600;
    color: #fff;
}

#B #col1 .sideMenu li a.selected
{
    background-color: #083c5c;
    color: #fff;
}

#B #col1 .sideMenu li ul li a.selected
{
    color: #ff6600;
    background-color: #FFF;
}

#B #col1 .sideMenu li ul li a.overdue
{
    background-image: url(../images/flash-red.gif);
}

#B #col1 .sideMenu li ul.status li a
{
    background-color: #ffe5e5;
}

/* Landing Page styles */
#B #landing-page
{
    background-color: #fff;
    overflow: hidden;
    display: block;
}

#B #landing-page .col
{
    padding: 1px 0 1000px 0;
    margin-bottom: -1000px;
    float: left;
    background: #fff url(../images/admin-div-lines.jpg) repeat-y top right;
}

#B #landing-page .last
{
    background-image: none;
}

#B #landing-page .col .content ul
{
    padding: 5px 0;
}

#B #landing-page .col .content ul li
{
    line-height: normal;
    height: 1%;
}

#B #landing-page .col .content ul li .content
{
    margin-top: 14px;
}

#B #landing-page .col .content ul li .links
{
    padding: 5px 0 5px 32px;
    display: block;
    border-bottom: 1px solid #d1dce2;
    font-size: 12px;
    font-weight: bold;
    color: #083C5C;
}

#B #landing-page .col .content ul li .links a
{
    font-size: 12px;
    font-weight: bold;
}

#B #landing-page .col .content ul li .nested-links
{
    padding: 5px 0 5px 32px;
    display: block;
    border-bottom: 1px solid #d1dce2;
}

#B #landing-page .col .content ul li .nested-links a
{
    font-size: 12px;
    font-weight: bold;
}

#B #landing-page .col .content h1
{
    display: block;
    background-color: #e7edf0;
    padding: 10px;
    color: #083c5c;
    font-size: 12px;
    font-weight: bold;
    margin: 0 1px;
    height: 1%;
    line-height: 1;
}

#B #landing-page .col .content ul.icon-bg .links
{
    background-image: url(../images/icons/icon_sprite.png);
    background-repeat: no-repeat;
}

#B #landing-page .col .content ul.icon-bg a:hover
{
    text-decoration: underline;
}

.gu1
{
    width: 25%;
}

.gu2
{
    width: 40%;
}

.gu2-2
{
    width: 60%;
    *width: 59%;
}

.gu3
{
    width: 100%;
}

.gu1.last
{
    _width: 24%;
} /*IE6*/

.gu1.last
{
    *width: 24%;
} /*IE7*/

.gu2.last
{
    _width: 49%;
}/*IE6*/

.gu2.last
{
    *width: 49%;
}/*IE7*/

/* Admin home page icons */
.links.background_pos1
{
    background-position: 8px 4px;
}

.links.background_pos2
{
    background-position: 8px -28px;
}

.links.background_pos3
{
    background-position: 8px -60px;
}

.links.background_pos4
{
    background-position: 8px -91px;
}

.links.background_pos5
{
    background-position: 8px -124px;
}

.links.background_pos6
{
    background-position: 8px -156px;
}

.links.background_pos7
{
    background-position: 8px -186px;
}

.links.background_pos8
{
    background-position: 8px -218px;
}

.links.background_pos9
{
    background-position: 8px -250px;
}

.links.background_pos10
{
    background-position: 8px -282px;
}

.links.background_pos11
{
    background-position: 8px -314px;
}

.links.background_pos12
{
    background-position: 8px -346px;
}

.links.background_pos13
{
    background-position: 8px -378px;
}

.links.background_pos14
{
    background-position: 8px -410px;
}

.links.background_pos15
{
    background-position: 8px -442px;
}

.links.background_pos16
{
    background-position: 8px -474px;
}

.links.background_pos17
{
    background-position: 8px -506px;
}

.links.background_pos18
{
    background-position: 8px -538px;
}

.links.background_pos19
{
    background-position: 8px -570px;
}

.links.background_pos20
{
    background-position: 8px -602px;
}

.links.background_pos21
{
    background-position: 8px -634px;
}

.links.background_pos22
{
    background-position: 8px -666px;
}

.links.background_pos23
{
    background-position: 8px -698px;
}

.links.background_pos24
{
    background-position: 8px -730px;
}

.links.background_pos25
{
    background-position: 8px -762px;
}

.links.background_pos26
{
    background-position: 8px -794px;
}

.links.background_pos27
{
    background-position: 8px -826px;
}

.links.background_pos28
{
    background-position: 8px -858px;
}

.links.background_pos29
{
    background-position: 8px -890px;
}

.links.background_pos30
{
    background-position: 8px -922px;
}

.links.background_pos31
{
    background-position: 8px -954px;
}

.links.background_pos32
{
    background-position: 8px -989px;
}

.links.background_pos33
{
    background-position: 8px -1021px;
}

.links.background_pos34
{
    background-position: 8px -1050px;
}

.links.background_pos35
{
    background-position: 8px -1082px;
}

.links.background_pos36
{
    background-position: 8px -1115px;
}

.links.background_pos37
{
    background-position: 8px -1147px;
}

.links.background_pos38
{
    background-position: 8px -1179px;
}

.links.background_pos39
{
    background-position: 8px -1211px;
}

.links.background_pos40
{
    background-position: 8px -1243px;
}

.links.background_pos41
{
    background-position: 8px -1275px;
}

.links.background_pos42
{
    background-position: 8px -1307px;
}

.links.background_pos43
{
    background-position: 8px -1339px;
}

.links.background_pos44
{
    background-position: 8px -1371px;
}

.links.background_pos45
{
    background-position: 8px -1403px;
}

.links.background_pos46
{
    background-position: 8px -1435px;
}

.links.background_pos47
{
    background-position: 8px -1467px;
}

.links.background_pos48
{
    background-position: 8px -1499px;
}

.links.background_pos49
{
    background-position: 8px -1531px;
}

.links.background_pos50
{
    background-position: 8px -1563px;
}

.links.background_pos51
{
    background-position: 8px -1594px;
}

.links.background_pos52
{
    background-position: 8px -1626px;
}

.links.background_pos53
{
    background-position: 8px -1657px;
}

.links.background_pos26	a
{
}

.links.background_pos27	a
{
    color: #083c5c;
}

.links.background_pos28	a
{
    color: #083c5c;
}

.links.background_pos29	a
{
    color: #083c5c;
}

.links.background_pos30	a
{
    color: #083c5c;
}

.links.background_pos31	a
{
    color: #083c5c;
}

#B .admin .col .content
{
}

/* Form Menu */
.form-nav li
{
    margin-bottom: 1px;
    position: relative;
}

.form-nav li a
{
    font: 0.7em Tahoma, Geneva, sans-serif;
    text-decoration: none;
    color: #083c5c;
    display: block;
    padding: 4px 0 4px 8px;
}

.form-nav li a:hover
{
    background-color: #FF6600;
    color: #fff;
}

.form-nav li.selected a
{
    font-weight: bold;
    background-color: #fff;
    color: #083c5c;
    border-top: 1px solid #d1dce2;
    border-bottom: 1px solid #d1dce2;
    padding: 3px 0 3px 8px;
}

.form-nav li.selected.top a
{
    border-top: none;
    padding: 4px 0 3px 8px;
}

.form-nav li.selected.top div
{
    height: 20px;
}

.form-nav li.selected div
{
    position: absolute;
    background-color: #FFF;
    width: 5px;
    height: 21px;
    right: -1px;
    top: 1px;
}

/* Div Version */
.form-nav .list-item
{
    margin-bottom: 1px;
    position: relative;
}

.form-nav .list-item a
{
    font: 0.7em Tahoma, Geneva, sans-serif;
    text-decoration: none;
    color: #083c5c;
    display: block;
    padding: 4px 18px 4px 8px;
}

.form-nav .list-item a:hover, .form-nav .list-item.has-data a:hover
{
    background-color: #FF6600;
    color: #fff;
}

.form-nav .list-item.has-data a
{
    color: #f60;
    font-weight: bold;
}

.form-nav .list-item.selected a
{
    background-color: #fff;
    color: #083c5c;
    border-top: 1px solid #d1dce2;
    border-bottom: 1px solid #d1dce2;
    padding: 3px 0 3px 8px;
}

.form-nav .list-item.has-data.selected a
{
    background-color: #fff;
    color: #f60;
    border-top: 1px solid #d1dce2;
    border-bottom: 1px solid #d1dce2;
    font-weight: bold;
    padding: 3px 0 3px 8px;
}

.form-nav .list-item.selected.top a
{
    border-top: none;
    padding: 4px 0 3px 8px;
}

.form-nav .list-item.selected.top div
{
    height: 20px;
}

.form-nav .list-item.selected div
{
    position: absolute;
    background-color: #FFF;
    width: 5px;
    height: 21px;
    right: -1px;
    top: 1px;
}

.option-nav
{
    width: 178px;
    background-color: #FFF;
    padding: 5px;
    margin: 0 auto;
    position: relative;
    margin-top: 5px;
    border: 1px solid #d1dcf2;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

.option-nav ul li
{
    margin-bottom: 5px;
    font: 11px Tahoma, Geneva, sans-serif;
    padding: 0 5px;
    color: #083c5c;
}

.option-nav ul li:last-child
{
    margin: 0;
}

.option-nav ul li a
{
    text-decoration: none;
    font: 11px Tahoma, Geneva, sans-serif;
    padding: 0;
    margin: 0;
}

.option-nav ul li a:hover
{
    text-decoration: underline;
}

.review-title
{
    text-align: center;
    background-color: #e7edf0;
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 12px;
    padding: 3px;
}

.review-options
{
}

.review-options ul li
{
    line-height: 130%;
    text-decoration: none;
}

.review-options ul li .links
{
    text-decoration: none;
    font: bold 12px Arial, Geneva, sans-serif;
    padding: 5px;
    background-color: #e7edf0;
    display: block;
    border-bottom: 1px solid #ccc;
}

.review-options ul li .links a
{
    text-decoration: none;
}

.review-options ul li ul li a
{
    font-size: 11px;
    font-weight: lighter;
}

.review-options ul li a:hover
{
    color: #F60;
}

.review-options li .links.INC
{
    background: #e7edf0 url(../images/icons/icon_incidents24x24.png) no-repeat 5px 5px;
    padding: 10px 0 10px 35px;
}

.review-options ul li .links.RAM
{
    background: #e7edf0 url(../images/icons/icon_risk24x24.png) no-repeat 5px 5px;
    padding: 10px 0 10px 35px;
}

.review-options ul li .links.PAL
{
    background: #e7edf0 url(../images/icons/icon_pals24X24.png) no-repeat 5px 5px;
    padding: 10px 0 10px 35px;
}

.review-options ul li .links.COM
{
    background: #e7edf0 url(../images/icons/icon_complaints24X24.png) no-repeat 5px 5px;
    padding: 10px 0 10px 35px;
}

.review-options ul li .links.SAB
{
    background: #e7edf0 url(../images/icons/icon_safety24X24.png) no-repeat 5px 5px;
    padding: 10px 0 10px 35px;
}

.review-options ul li .links.ACT
{
    background: #e7edf0 url(../images/icons/icon_actions24x24.png) no-repeat 5px 5px;
    padding: 10px 0 10px 35px;
}

.review-options div.overdueItems
{
    float: right;
    margin: 0 10px 0 0;
}

.review-options div.overdueItems a
{
    font-weight: bold;
    font-size: 11px;
}

#B #col2
{
    width: auto;
    margin-left: 206px;
}

#B #col2 .content
{
}

#B .row .canvasB
{
    background-color: #e7edf0;
}

#B #col3 .canvasA
{
    background-color: #FFF;
}

#B .form-wrapper
{
    background-color: #fff;
    float: none;
    padding: 5px;
    border-left: 1px solid #d1dce2;
    margin-left: 200px;
}

.row:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.row
{
    display: inline-block;
}

.row
{
    display: block;
}

.row
{
    position: relative;
}

.col
{
    float: left;
    position: relative;
}

/* Footer
----------------------------------------------------------------------------------------------*/

div#F
{
    background-color: #094367;
    border-top: 3px solid #ff6600;
    margin-bottom: 60px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    position: relative;
    min-height: 53px;
}

div#F .content
{
    font-size: 11px;
    color: #fff;
}

div#F .content .copyright
{
    font-size: 11px;
    float: left;
    width: 15%;
    padding: 10px;
    color: #fff;
}

div#F .content .logo
{
    float: right;
    width: 15%;
    padding: 10px;
    text-align: right;
    padding-bottom: 20px;
}

div#F .content .screen-footer
{
    float: right;
    width: 65%;
    padding: 10px;
    text-align: center;
}

/* Standards wrappers
-----------------------------*/

.as
{
    float: left;
    position: relative;
}

.ar
{
    font: 9px verdana,arial,sans-serif;
    height: 1.7em;
    margin: 0;
    outline: medium none;
    padding: 0 5px 1px 0;
    text-decoration: none;
}

.as .at
{
    overflow: visible;
}

.at
{
    border-width: 1px 0;
    margin: 0 1px;
    padding: 0;
    background-color: #d1dce2;
}

.outcomesub .at
{
    background-color: #e7edf0;
}

.outcomesub .at, .outcomesub .au
{
    border-color: #e7edf0;
}

.elements .at
{
    background-color: #083c5c;
}

.elements .at, .elements .au
{
    border-color: #083c5c;
}

.elements .av a, .elements .av a b
{
    color: #FFF;
}

.elements .at:hover
{
    background-color: #ccc;
}

.elements .at:hover, .elements .au:hover
{
    border-color: #ccc;
}

.elements .av a:hover, .elements .av a b:hover
{
    color: #333;
}

.notes
{
    float: none;
    margin: 10px 0;
}

.notes .at
{
    background-color: #FF9;
}

.notes .at, .notes .au
{
    border-color: #FF9;
}

.notes .av a, .notes .av a b
{
    color: #666;
}

.at, .au
{
    border-style: solid;
    border-color: #d1dce2;
    font-weight: normal;
}

.au
{
    border-width: 0 1px;
    margin: 0 -1px;
    padding: 1px 0;
}

.at, .au
{
    border-style: solid;
    font-weight: normal;
}

.av
{
    padding: 0 5px;
}

.av a
{
    text-decoration: none;
    color: #083c5c;
    font-size: 12px;
}

/* Note Expanders
----------------------------------------------------------------------------------------------*/
.expander
{
    float: left;
    margin-right: 5px;
}

.expander span.details
{
    padding: 5px;
    background-color: #FFC;
    line-height: 130%;
    display: block;
    font-size: 12px;
    color: #333;
}

/* buttons
----------------------------------------------------------------------------------------------*/
.field
{
}

.buttons
{
    cursor: pointer;
    text-align: center;
}

.button
{
    white-space: nowrap;
}

.button
{
    border-bottom: 1px solid #A9ABAC;
    border-top: 1px solid #A9ABAC;
    margin: 0 6px 0 1px;
    padding: 2px;
    text-decoration: none;
}

.button span
{
    font-size: 100%;
}

.button span a
{
    text-decoration: none;
    font: 0.7em Tahoma, Geneva, sans-serif;
    color: #083c5c;
}

.button span
{
    background: url("../images/bg-btn.gif") repeat-x scroll left top #DFDFDF;
    border-left: 1px solid #A9ABAC;
    border-right: 1px solid #A9ABAC;
    color: #333333;
    display: block;
    line-height: 1.3em;
    margin: 0 -1px;
    padding: 2px 6px;
}

.gbutton a
{
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

.gbutton
{
    -moz-border-radius: 3px 3px 3px 3px;
    background: -moz-linear-gradient(center top , #F9F9F9, #E3E3E3) repeat scroll 0 0 transparent;
    border-color: #CCCCCC #BBBBBB #A0A0A0;
    border-left: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    cursor: default;
    font: 75% arial,sans-serif;
    margin: 0 8px 0 0;
    outline: medium none;
    padding: 3px 8px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    display: inline-block;
    position: relative;
}

/* Fixed Footer
------------------------------------------------*/
#site-body-container
{
}

#site-body-content
{
    padding: 15px 15px 15px 15px;
}

#site-bottom-bar
{
    background-color: #083c5c;
    border-bottom: none;
    bottom: 0;
    font-size: 11px;
    height: 35px;
    position: fixed;
    width: 196px;
    left: 20px;
    z-index: 1000;
    padding: 5px 1px 0 5px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
}

#site-bottom-bar-frame
{
    height: 30px;
    margin: 0;
    position: relative;
}

#site-bottom-bar-content
{
    padding: 3px 0 0 0;
}

#menu-root
{
    color: #fff;
    display: block;
    height: 24px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    width: auto;
    padding: 0;
    font-weight: bold;
    float: left;
}

#menu-root:hover
{
    color: #FFFFFF;
}

#menu-2
{
    background-color: #083c5c;
    bottom: 32px;
    display: none;
    left: -5px;
    padding: 1px;
    position: absolute;
    width: 200px;
}

#menu-2 a
{
    background-color: #094367;
    color: #fff;
    display: block;
    margin-bottom: 1px;
    padding: 4px;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
}

#menu-2 a:hover
{
    background-color: #ff6600;
    color: #FFFFFF;
}

/* Dashboard
----------------------------------------------------------------------------------------------*/

ul.tabNavigation
{
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #e7edf0;
    z-index: 1;
}

ul.tabNavigation li
{
    float: left;
    list-style-type: none;
    margin-right: 4px;
    cursor: pointer;
}

ul.tabNavigation li a
{
    color: #083c5c;
    padding: 9px 9px 9px 9px;
    margin: 0;
    background-color: #d1dce2;
    border: 1px solid #e7edf0;
    border-bottom: none;
    text-decoration: none;
    font: bold 11px Tahoma, Geneva, sans-serif;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    float: left;
}

ul.tabNavigation li a.selected,
ul.tabNavigation li a:hover
{
    background-color: #fff;
    color: #083c5c;
    padding-bottom: 9px;
    border: 1px solid #d1dce2;
    border-bottom: none;
}

ul.tabNavigation li a:focus
{
    outline: 0;
}

ul.tabNavigation li a span
{
    padding: 0 3px 0 5px;
}

ul.tabNavigation li a span:hover
{
    padding: 0 3px 0 5px;
}

ul.tabNavigation li.dashboard_tab-selected a
{
    background-color: #fff;
    color: #083c5c;
    padding-bottom: 9px;
    border: 1px solid #d1dce2;
    border-bottom: none;
}

div.tabs > div h2
{
    margin-top: 0;
}

.tab_content
{
    border: 1px solid #d1dce2;
    padding: 10px;
}

/* Widget side-bar tabs
----------------------------------------------------------------------------------------------*/

ul.widgettabNavigation
{
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    height: 30px;
    z-index: 1;
}

ul.widgettabNavigation li
{
    float: left;
    list-style-type: none;
    margin-right: 4px;
    cursor: pointer;
}

ul.widgettabNavigation li a
{
    color: #083c5c;
    padding: 4px 4px 4px 4px;
    margin: 0;
    background-color: #d1dce2;
    border: 1px solid #e7edf0;
    border-bottom: none;
    text-decoration: none;
    font: 11px Tahoma, Geneva, sans-serif;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    float: left;
}

ul.widgettabNavigation li a.selected,
ul.widgettabNavigation li a:hover
{
    background-color: #fff;
    color: #083c5c;
    padding-bottom: 4px;
    border: 1px solid #d1dce2;
    border-bottom: none;
}

ul.widgettabNavigation li a:focus
{
    outline: 0;
}

ul.widgettabNavigation li a span
{
    padding: 0 3px 0 5px;
}

ul.widgettabNavigation li a span:hover
{
    padding: 0 3px 0 5px;
}

ul.widgettabNavigation li.dashboard_tab-selected a
{
    background-color: #fff;
    color: #083c5c;
    padding-bottom: 4px;
    border: 1px solid #d1dce2;
    border-bottom: none;
}

/* Status View
----------------------------------------------------------------------------------------------*/

/*horizontal */

.status-wrapper .name, .status-wrapper .records-background, .status-wrapper .overdue-background
{
    display: inline-block;
    position: relative; /* Needed to fix issue in IE8 where the backgrounds were being positioned behind the elements */
    border-radius: 0 15px 15px 0;
}

.status-wrapper .name
{
    background-color: #e7edf0;
    background-position: right 0;
}

.status-wrapper .name.no-records
{
    background-color: #e7edf0;
    background-position: right -96px;
}

.status-wrapper .records-background
{
    background-color: #d1dce2;
    background-position: right -24px;
}

.status-wrapper .records-background.no-overdue
{
    background-color: #d1dce2;
    background-position: right -72px;
}

.status-wrapper .overdue-background
{
    background-color: #b0c1cc;
    background-position: right -48px;
}

.status-wrapper a
{
    font: bold 12px Arial, Helvetica, sans-serif;
    color: #083c5c;
    text-decoration: none;
}

.status-wrapper .name, .status-wrapper .records, .status-wrapper .overdue
{
    display: inline-block;
    padding: 5px 10px 4px;
    font: bold 12px Arial, Helvetica, sans-serif;
    color: #083c5c;
    text-decoration: none;
    width: 100px;
    vertical-align: middle;
}

.status-wrapper .name
{
    width: 250px;
}

.status-wrapper
{
    position: relative;
    display: block;
    padding: 5px 10px;
    width: auto;
}

.status-wrapper .name .status-colour-square
{
    display: inline-block;
    margin: 2px 5px 0 0;
    height: 8px;
    width: 8px;
    background-color: black;
    padding: 0;
    border: 1px #fff solid;
    /* These two lines are for IE6 */
    line-height: 1px;
    font-size: 1px;
}

.status-wrapper .name .search-icon
{
    margin-top: 3px;
    margin-right: 5px;
    height: 8px;
    width: 8px;
    padding: 0;
    background: none;
}

.status-wrapper.bold
{
    font-weight: bold;
}

/* Old CSS CODE FROM THE DATIX WEB - THIS IS USED TO STYLE THE FORMS WHICH I HAVE TAKEN THE CURRENT HTML TO DO THIS
------------------------------------------------------------------------------------------------------------------------------------***************************************************************************************************************************/

.codefield, .readonly_codefield
{
    background-color: #FFF;
    border-width: 1px;
    border-style: solid;
    border-color: #abadb3 #dbdfe6 #e3e9ef #e2e3ea;
    float: left;
    min-height: 14px;
    height: 14px;
    min-width: 200px;
    padding: 2px;
    margin: 0;
    _width: 200px;
}

fieldset, .fieldset
{

    font-size: 0.8em;
    font-family: Tahoma, Geneva, sans-serif;
    _zoom: 1; /* Invoke hasLayout in IE 6 */
    position: relative;
}

.fieldset form
{
    margin: 0;
    padding: 0;
}

.fieldset ol
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.fieldset li
{
    list-style-type: none;
    overflow: auto;
}

.outer_border, .top_menu_border, .header_border, .main_section_border, .footer_border, .copyright_border
{
    background-color: #ffffff;
    width: 90%;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border: 1px #A5ACB2 solid;
    overflow: auto;
}

.menu_container
{
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    width: 13%;
}

.menu_title
{
    font-weight: bold;
    font-size: 0.9em;
    padding: 1px;
}

.menu_section_container
{
    margin-bottom: 3px;
    padding-bottom: 3px;
    border-bottom: 1px #E1E1E1 solid;
}

.menu_item
{
    font-size: 0.9em;
    padding: 1px;
}

.new_mainform
{
    width: 100%;
}

.new_mainform_menu
{
    width: 85%;
    float: left;
}

.new_windowbg, .page_title_background, .new_windowbg2, .section_link_row, .list_replacer
{
    font-size: 12px;
    color: #000;
    font-family: verdana, arial, helvetica, serif;
    /*background-color: #d2e4fc;*/
    overflow: auto;
}

.new_windowbg2
{
    background-color: #E3EFFF;
}

div.section_title
{
    font-weight: bold;
}

div.section_subtitle
{
}

div.section_title_group
{
    float: left;
}

div.title_twisty_container
{
    float: right;
}

div.title_rhs_container
{
    float: right;
}

div.section_title_right_hand_link
{
    cursor: pointer;
    font-weight: bold;
}

div.multilistbox_select_box
{
    width: 300px;
}

div.multilistbox_button_wrapper
{
    float: left;
    padding-left: 2px;
}

div.multilistbox_delete_button_wrapper
{
    padding-top: 4px;
    padding-bottom: 4px;
}

.mutlilistbox_image
{
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../Images/CodeList16_Del_n.gif) no-repeat;
}

.mutlilistbox_image:hover
{
    background: url(../Images/CodeList16_Del_h.gif) no-repeat;
}

.dropdown_button_image
{
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../Images/DATIX_Dropdown_n.gif) no-repeat;
}

.dropdown_button_image:hover
{
    background: url(../Images/DATIX_Dropdown_h.gif) no-repeat;
}

.disable-button .dropdown_button_image
{
    background: url(../Images/DATIX_Dropdown_n_disabled.gif) no-repeat;
}

div.calendar_button_image
{
    cursor: pointer;
}

.field_div
{
    border-bottom: 1px #D1DCF2 solid;
    background: #F5F9FF;
    _height: 1%; /*IE6 FIX*/
}

.field_label_div
{
    padding: 6px;
    float: left;
}

.field_input_div
{
    float: left;
    padding: 4px;
}

.field_input_div .loading
{
    background: url('../Images/loading-trans.gif') left center no-repeat;
    display: inline-block;
    height: 16px;
    padding: 3px 0 0 20px;
    margin: 0 0 0 5px;
    width: auto;
}

.field_label
{
    padding-right: 3px;
    color: #083C5C;
    word-wrap: break-word;
}

.field_extra_text
{
    font-weight: normal;
    color: #000;
    padding: 5px;
    margin-top: 5px;
    margin-left: 5px;
}

.field_related_input
{
    margin-top: 10px;
}

.field_related_input input
{
    margin-left: 0;
}

.inline_input_div
{
    margin-left: 12.53em;
    margin-bottom: 6px;
}

#password-policy p
{
    margin: 0;
    padding: 6px;
}

#password-expiry-field .field_error,
#unique-passwords-field .field_error
{
    display: block;
}

.page_title_wrapper
{
    padding: 5px;
}

.page_title
{
    font-weight: bold;
    font-size: 1.3em;
}

.page_subtitle
{
    font-weight: normal;
}

.form_error_wrapper
{
    border: 2px #f00 solid;
    padding: 4px;
    color: #f00;
    margin-bottom: 4px;
    text-align: center;
}

.form_error_title
{
    font-weight: bold;
    color: #f00;
}

.form_error
{
    font-weight: bold;
    color: #f00;
}

.mandatory_image
{
    float: left;
    margin-right: 5px;
    margin-top: 2px;
}

.help_image
{
    float: left;
    cursor: pointer;
}

.field_error
{
    color: #f00;
}

.field_date_format, .field_time_format
{
    font-weight: normal;
    font-size: 0.8em;
}

.section_title_row
{
    border-top: #094367 1px solid;
}

.new_titlebg, .button_wrapper, .section_title_row
{
    color: #083C5C;
    background-color: #D1DCF2;
    overflow: auto;
    padding: 3px;
}

.section-greyed
{
    background: #ddd;
    color: #666;
}

.new_link_row
{
    background-color: #F0F0F0;
    padding: 5px;
}

.new_titlebg a
{
    color: #ffffff;
}

.title_text_wrapper
{
    float: left;
    padding: 5px;
}

.title_select_wrapper
{
    float: left;
    padding: 2px;
}

.lock_message
{
    font-size: 12px;
    color: #000000;
    font-family: verdana, arial, helvetica, serif;
    background-color: #d2e4fc;
    overflow: auto;
    margin-bottom: 4px;
    padding: 5px;
    border: 1px solid #6E94B7;
}

.title_image
{
    padding-right: 5px;
}

table.datatable
{
    border-collapse: collapse;
}

table.datatable td
{
    padding: 5px;
    text-align: left;
    border: 1px #fff solid;
}

.top_menu_wrapper, .button_wrapper
{
    text-align: center;
}

.top_menu_border, .copyright_border
{
    border-top: 0;
}

/*footer images*/
.footer_left, .footer_centre, .footer_right
{
    width: 33%;
}

.footer_left, .footer_centre
{
    float: left;
}

.footer_left
{
    text-align: left;
}

.footer_centre
{
    text-align: center;
}

.footer_right
{
    float: right;
    text-align: right;
}

/*header images/text*/
.header_left, .header_centre, .header_right
{
    width: 28%;
}

.header_left, .header_centre
{
    float: left;
}

.header_left
{
    text-align: left;
}

.header_centre
{
    text-align: center;
}

.header_text, .header_right
{
    float: right;
    text-align: right;
}

.page_title_wrapper
{
    display: table-cell;
    vertical-align: middle;
}

.external_border
{
    border: 1px solid #d1dce2;
    background-color: #fff;
}

.internal_border
{
    border: 1px solid #d1dcf2;
    overflow: hidden;
}

.row_replace_table
{
    border: 1px solid #FFFFFF;
}

.row_above_table
{
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.row_below_table
{
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.list_replacer
{
    border-bottom: 1px solid #fff;
}

.subject_order
{
    float: left;
    margin-left: 30px;
    padding-left: 4px;
    padding-right: 4px;
    border-left: 1px #fff solid;
    border-right: 1px #fff solid;
}

.page_title_wrapper, .title_image, .code_field_wrapper, .code_field_button_wrapper
{
    float: left;
}

.right_button_wrapper
{
    float: right;
}

.padded_div, .page_title_background, .main_section_wrapper, .padded_wrapper, .top_menu_wrapper, .button_wrapper, .section_title_row, .section_link_row, .list_replacer
{
    padding: 5px;
}

.button_wrapper
{
    zoom: 1; /* Invoke hasLayout in IE */
    overflow: hidden;
}

/* Clears any floats contained within the button wrapper (e.g. stepped navigation) */
.button_wrapper:after
{
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.padded_wrapper
{
    overflow: auto;
}

.row_below_table
{
    border-top: 0;
}

.row_above_table
{
    border-bottom: 0;
}

.iframe_border
{
    border: 1px solid #E1E1E1;
}

.customReportTooltip
{
    border: 1px solid #000000;
    background-color: #FFFFE1;
    position: absolute;
    padding: 1px;
    font-size: 8pt;
}

@media print
{
    .content, .field_div
    {
        overflow: hidden;
    }
}

/** error message styling **/

.error_div, div.info_div
{
    padding: 6px;
    text-align: center;
    margin-bottom: 2px;
}

div.info_div, div.general_div
{
    border: 2px #00f solid;
    background-color: #E1EAFF;
}

div.error_div, div.info_div
{
    font-weight: bold;
}

div.error_div
{
    border: 2px #FF6600 solid;
    background-color: #FBCCAD;
}

div.email_status_div
{
    color: black;
    padding: 6px;
    border: 1px black solid;
    text-align: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

/** show staff responsibilities **/
.show-staff-title
{
    padding: 5px;
    border-top: 1px solid #C0C0C0;
    cursor: pointer;
}

.show-staff-title:hover
{
    background-color: #D1DCF2;
}

/*rows for record listing tables*/
.listing-row:hover,
.listing-row:hover td
{
    background-color: #D1DCF2;
}

.listing-row
{
    background-color: #FFFFFF;
}

/*page numbers and alphabetical lists on listing screens*/
table.page-numbers tr, tr.page-numbers, div.page-numbers
{
    background-color: #F0F0F0;
}

table.page-numbers tr td, tr.page-numbers td, div.page-numbers
{
    text-align: center;
    padding: 3px;
}

.title-row
{
    background-color: #094367;
    color: #FFFFFF;
}

.hidden-panel
{
    background-image: url(../Images/faded-pixel.png);
    border: 1px solid #DDDDDD;
    left: -300px;
    padding: 20px 8px 8px 30px;
    position: fixed;
    top: 0;
    width: 200px;
    z-index: 1000;
    overflow: auto;
}

a.hidden-tab
{
    background: url(../Images/showButton2.png) no-repeat top left;
    top: 100px;
    display: block;
    float: right;
    height: 24px;
    left: 0;
    outline: medium none;
    position: fixed;
    text-indent: -9999px;
    width: 30px;
    z-index: 10000;
}

a.hidden-tab-open
{
    background: url(../Images/hideButton2.png) no-repeat top left;
}

* html .hidden-panel, a.hidden-tab-open, a.hidden-tab
{
    position: absolute;
}

th.risk_matrix_title
{
    background-color: #094367;
    color: #FFFFFF;
    font-weight: bold;
}

th.risk_matrix_header
{
    background-color: #d1dce2;
}

/* CSS for single/multiselect fields */
.datixSelect
{
    position: absolute;
    background-color: #FFF;
    border: 1px solid #CCC;
    padding: 2px;
    min-width: 200px;
    max-height: 208px;
    overflow-y: auto;
    overflow-x: hidden;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.datixSelectMobile
{
    float: left;
}

.dropdown_button_image_mobile
{
    cursor: pointer;
    float: left;
    width: 20px;
    height: 20px;
    background: url(../Images/DATIX_Dropdown_n_mobile.gif) no-repeat;
}

.disable-button .dropdown_button_image_mobile
{
    background: url(../Images/DATIX_Dropdown_n_mobile_disabled.gif) no-repeat;
}

.dropdown_button_image_mobile_close
{
    cursor: pointer;
    float: left;
    width: 20px;
    height: 20px;
    background: url(../Images/DATIX_Dropdown_h_mobile.gif) no-repeat;
}

.datixSelectMobile select
{
    white-space: nowrap;
    margin: 0 0 0 5px;
}

.datixSelectOption
{
    padding: 4px;
    font-size: 13px;
    border: 1px solid #FFF;
    cursor: default;
    overflow: hidden;
    -moz-border-radius: 4px;
    border-radius: 4px;
    word-wrap: break-word;
}

.datixSelectOption-hover
{
    background: #dadada url(../Images/datixSelectOptionBg.png) 50% 50% repeat-x;
    border: 1px solid #999999;
}

.datixSelectOption-selected
{
    background: #dadada;
    border: none;
    padding: 5px;
    -moz-border-radius: 0;
    border-radius: 0;
}

.datixSelect .new-code
{
    color: #f60;
}

.input-wrapper
{
    display: inline-block;
    float: left;
    position: relative;
}

.input-wrapper .plus-icon
{
    color: #f60;
    position: absolute;
    right: 1px;
    top: 1px;
}

.input-wrapper .clear-icon
{
    color: #666;
    position: absolute;
    right: 1px;
    top: 2px;
}

.multiSelectList
{
    float: left;
    height: 92px;
    max-height: 92px;
    margin-bottom: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.multiSelectListDisable
{
    position: absolute;
    height: 98px;
    background-color: #FFF;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

@media screen {
    div.print-only
    {
        display: none;
    }

    div.screen-only
    {
        display: block;
    }
}

@media print
{
    div.screen-only
    {
        display: none;
    }

    div.print-only
    {
        display: block;
    }
}

.side-menu-icon
{
    margin-right: 4px;
}

.datixSelect-loading
{
    background: #fff url('../Images/select-loader.gif') right center no-repeat;
}

.datixSelect-loading-center
{
    background: #fff url('../Images/select-loader.gif') center no-repeat;
}

.ff_select, .multi_select
{
    font-family: Tahoma, Geneva, sans-serif;
}

.aria
{
    display: none;
}

.page-top-error
{
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    background-color: #f00;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    z-index: 100;
    font-size: 12px;
}

#unlock-all
{
    margin: 5px 2px;
}

.skip a
{
    display: inline;
    position: absolute;
    width: 14em;
    left: -200em;
    text-decoration: none;
}

.skip a:focus
{
    position: absolute;
    left: 0.5em;
    border: solid #333 2px;
    color: #fff;
    background: #555;
}

.skip a:active
{
    position: absolute;
    left: 0.5em;
    border: solid #333 2px;
    color: #fff;
    background: #555;
}

.stepped
{
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 4px;
    height: 22px; /* TODO Try and do without height */
    overflow: visible;
    float: right;
    *margin-top: -26px; /* For IE 7, which doesn't float elements correctly. 26px is equal to the height of the save/cancel buttons */
}

.stepped li
{
    display: block;
    float: left;
    overflow: visible;
}

.stepped li img
{
    border: 1px solid #bfbebe;
}

.stepped li .first, .stepped li .prev, .stepped li .next
{
    border-right: none;
}

.flag-btn
{
    margin-top: 3px;
    font-size: 12px;
    color: #083C5C;
    float: right;
}

.batch-update-results
{
    font-weight: normal;
    text-align: left;
}

.batch-update-results p
{
    margin-top: 0;
}

.batch-update-results li
{
    line-height: 1.5;
}

.batch-update-results em,
.batch-update-results .field
{
    font-weight: bold;
}

.batch-update-results .field
{
    width: 10%;
    margin-right: 0.5em;
}

.listing-row.inactive
{
    background-color: #f0f0f0;
    font-style: italic;
}

.listing-row.inactive a
{
    font-style: italic; /* Can't use inherit here because IE 6 (and 7?) don't support it */
}

.listing_filter_container
{
    border: 1px solid #D1DCF2;
    background-color: #F5F9FF;
    padding: 5px;
}

.listing_filter_row
{
    float: left;
    margin: 0 15px 5px 0;
}

.listing_filter_row a:hover
{
    text-decoration: underline;
}

/**
 * Location hierarchy setup
 */
#location-hierarchy
{
    position: relative;
    *height: 1%;
}

#location-hierarchy:after
{
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

#location-tiers
{
    width: 20%;
    float: left;
}

#location-nodes
{
    overflow-x: scroll;
    overflow-y: visible;
    width: 80%;
    float: left;
    padding-bottom: 20px;
}

#location-legend
{
    clear: both;
    margin-top: 50px;
    margin-left: 20%;
}

.tiers ul
{
    display: block;
}

.tiers li
{
    padding: 10px 0 50px;
    font-weight: bold;
}

.tiers p
{
}

.tiers span,
.tiers .new-node
{
    display: block;
    float: left;
}

.tiers .new-node,
.tiers .delete-tier
{
    float: right;
    padding-right: 20px;
}

.tiers span input
{
    width: 90%;
}

/**
 * =tree
 */
.tree
{
    _height: 1%;
    padding: 10px 0;
    width: auto;
}

.tree:after
{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.tree ul:after
{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.tree li
{
    display: block;
    float: left;
    text-align: center;
    background-color: transparent;
    overflow: visible;
    margin: 0 24px;
    *zoom: 1;
    *padding-top: 5px;
    _display: inline;
}

.tree li ul
{

    min-width: 0;
    background: url(../Images/tree/top.gif) no-repeat top center;
    padding-top: 30px;
    float: none;
    *height: 1%;
    *display: inline;
    *float: left;
    *margin-top: 5px;
}

.tree li ul:after
{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.tree li .node
{
    background-color: #ccc;
    padding: 5px 10px;
    display: inline;
    height: 100%;
    white-space: nowrap;
}

.tree ul ul li
{
    padding: 30px 24px 0;
    margin: 0;
    background: url(../Images/tree/middle.gif) no-repeat top center;
    *padding-bottom: 5px;
}

.tree ul ul li:first-child,
.tree ul ul li.first-child
{
    background: url(../Images/tree/left.gif) no-repeat top center;
}

.tree ul ul li:last-child
{
    background: url(../Images/tree/right.gif) no-repeat top center;
}

/* For IE, which stops parsing a selector that contains the :last-child psuedo-selector */
.tree ul ul li.last-child
{
    background: url(../Images/tree/right.gif) no-repeat top center;
}

.tree ul ul li.only-child
{
    background: url(../Images/tree/top.gif) no-repeat top center;
}

.node .name,
.node .controls
{
    display: inline;
}

.node .controls a
{
    padding-left: 5px;
}

.node input
{
    width: 60px;
}

.node .attachment
{
    margin-top: 2px;
}

#new-node label
{
    display: block;
    float: left;
    width: 65px;
    margin-bottom: 10px;
}

#new-node input,
#new-node select
{
    display: block;
    float: left;
    margin-bottom: 10px;
}

#new-node #parent
{
    margin-left: 15px;
}

#new-node li
{
    *height: 1%;
}

#new-node li:after
{
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

#new-node .msg
{
    color: #f00;
    margin-left: 83px;
    clear: left;
    width: 155px;
}

/*.qtip-content
{
	font-size: 10px;
	color: #fff;
}*/

/* =new location hierarchy (columnview) */
.columnview
{
    position: relative;
    overflow: hidden;
    /*height: 100%;*/
}

.columnview .viewport
{
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    padding-top: 34px;
}

.columnview .tiers
{
    width: 100%;
    position: relative;
    top: -34px;
}

.columnview .tiers:after
{
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.columnview .tiers li
{
    position: absolute;
    width: 201px;
    padding: 0;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #D1DCE2;
    background-color: #e7edf0;
    color: #083c5c;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
}

.columnview .tiers a,
.columnview .tiers span
{
    padding: 10px 5px;
    line-height: 1;
}

.columnview .tiers input
{
    width: 38%;
    line-height: 12.8px;
    margin: 5px 0 6px;
}

#node-form
{
    position: absolute;
    top: 43px;
    right: -100%;
    width: 60%;
}

#node-form .field_label_div
{
    width: 25%;
}

#node-form .button_wrapper
{
    overflow: hidden;
}

.columns
{
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

.columnview .column
{
    border-right: 1px solid #ccc;
    height: 100%;
    width: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    float: left;
    white-space: nowrap;
}

.columnview .column li
{
    padding: 10px 5px;
    overflow: hidden;
}

.columnview .column .active
{
    background-color: #d4d4d4;
}

.columnview .column.active .active
{
    background-color: #CFE1FD;
    color: #000;
}

.columnview .column li .desc
{
    float: left;
}

.column .desc
{
    cursor: pointer;
}

.column .controls
{
    float: right;
    padding-left: 10px;
}

.column .controls a
{
    padding-right: 4px;
    cursor: pointer;
    line-height: 1;
}

.columnview .search-form
{
    background-color: #E7EDF0;
    padding: 10px 10px 10px 0;
    text-align: right;
}

/*
 * New Search Locations Page
 */
.search-box-div
{
    text-align: right;
    padding-bottom: 5px;
}

.search-box
{
    width: 200px;
    background-color: rgb(255, 255, 255);
}

.search-results
{
    border: 1px solid #A9ABAC;
    min-height: 500px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.search-no-records
{
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.search-results a
{
    display: block;
    padding: 10px 5px;
    border-bottom: 1px solid #E7EDF0;
}

.search-results a:hover
{
    background-color: #D1DCF2;
}

.loc_active_inactive span
{
    color: #777;
    font-style: italic;
}

.is_disabled
{
    color: #463E3F;
}

.expand_collapse
{
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    color: #083C5C;
}

/* Risk grading matrix using dropdowns */
#risk_grading_titles, #risk_grading_fields
{
    float: left;
}

/* TOGGLE SECTIONS */

.toggle-group
{
    /*position: relative;*/
}

.toggle-loading
{
    border-bottom: 1px solid #0c0;
    background: #cfc;
    font-size: 12px;
    left: 0;
    padding: 5px 0;
    text-align: center;
    top: 21px;
    width: 100%;
}

.toggle-trigger
{
    cursor: pointer;
}

/* PANEL INDICATORS */
.form-nav .panel-indicator
{
    display: block;
    height: 6px;
    margin: 2px 5px 0 0;
    position: absolute;
    right: 0;
    top: 5px;
    width: 6px;
}

.form-nav .panel-indicator.has-data
{
    background: #f60;
    border: 1px solid #fff;
}

.form-nav .panel-indicator.no-data
{
    background: #fff;
    border: 1px solid #ccc;
}

/* DUPLICATE CHECK */

.results-msg
{
    color: #f60;
    cursor: pointer;
    margin: 0 0 0 5px;
}

.close-results
{
    cursor: pointer;
}

.cloned-header .close-results
{
    float: right;
    vertical-align: baseline;
}

.existing-reports
{
    border-bottom: 1px solid #666;
}

.existing-reports table
{
    border: none;
}

.results-viewport
{
    max-height: 200px;
    overflow: auto;
}

.warning-msg .ui-icon, .status-msg .ui-icon
{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 3px 0 0;
    vertical-align: text-bottom;
}

td .warning-msg .ui-icon
{
    display: block;
    float: left;
}

.warning-msg
{
    color: #f60;
    text-indent: 0;
    margin: 0 0 0 5px;
}

.warning-msg .ui-icon, .ui-icon.hexff6600
{
    background-image: url("../Images/ui-icons_ff6600_256x240.png");
}

.status-msg
{
    color: #0c0;
    cursor: default;
}

.status-msg .ui-icon, .ui-icon.hex00cc00
{
    background-image: url("../Images/ui-icons_00cc00_256x240.png");
}

.message-text
{
    float: left;
}

/* PRINT OPTIONS */

#show-print-options
{
    background: #f60;
    border-radius: 0 0 10px 10px;
    display: inline-block;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    left: 10px;
    margin: 0;
    padding: 5px 10px 10px;
    position: fixed;
    top: 0;
    z-index: 500;
}

#print-options
{
    overflow: auto;
}

#print-options li
{
    margin: 0 0 5px;
}

#print-options li input,
#print-options li label
{

    vertical-align: middle;
}

.checkbox-container
{
    display: inline-block;
    width: 40px;
    text-align: center;
}

#clear-search
{
    background-image: url("../Images/ui-icons_666666_256x240.png");
    display: none;
    position: absolute;
    right: 3px;
    top: 3px;
}

.ui-icon.hex666666
{
    background-image: url("../Images/ui-icons_666666_256x240.png");
}

/* positioning */
.ui-icon-blank
{
    background-position: 16px 16px;
}

.ui-icon-carat-1-n
{
    background-position: 0 0;
}

.ui-icon-carat-1-ne
{
    background-position: -16px 0;
}

.ui-icon-carat-1-e
{
    background-position: -32px 0;
}

.ui-icon-carat-1-se
{
    background-position: -48px 0;
}

.ui-icon-carat-1-s
{
    background-position: -64px 0;
}

.ui-icon-carat-1-sw
{
    background-position: -80px 0;
}

.ui-icon-carat-1-w
{
    background-position: -96px 0;
}

.ui-icon-carat-1-nw
{
    background-position: -112px 0;
}

.ui-icon-carat-2-n-s
{
    background-position: -128px 0;
}

.ui-icon-carat-2-e-w
{
    background-position: -144px 0;
}

.ui-icon-triangle-1-n
{
    background-position: 0 -16px;
}

.ui-icon-triangle-1-ne
{
    background-position: -16px -16px;
}

.ui-icon-triangle-1-e
{
    background-position: -32px -16px;
}

.ui-icon-triangle-1-se
{
    background-position: -48px -16px;
}

.ui-icon-triangle-1-s
{
    background-position: -64px -16px;
}

.ui-icon-triangle-1-sw
{
    background-position: -80px -16px;
}

.ui-icon-triangle-1-w
{
    background-position: -96px -16px;
}

.ui-icon-triangle-1-nw
{
    background-position: -112px -16px;
}

.ui-icon-triangle-2-n-s
{
    background-position: -128px -16px;
}

.ui-icon-triangle-2-e-w
{
    background-position: -144px -16px;
}

.ui-icon-arrow-1-n
{
    background-position: 0 -32px;
}

.ui-icon-arrow-1-ne
{
    background-position: -16px -32px;
}

.ui-icon-arrow-1-e
{
    background-position: -32px -32px;
}

.ui-icon-arrow-1-se
{
    background-position: -48px -32px;
}

.ui-icon-arrow-1-s
{
    background-position: -64px -32px;
}

.ui-icon-arrow-1-sw
{
    background-position: -80px -32px;
}

.ui-icon-arrow-1-w
{
    background-position: -96px -32px;
}

.ui-icon-arrow-1-nw
{
    background-position: -112px -32px;
}

.ui-icon-arrow-2-n-s
{
    background-position: -128px -32px;
}

.ui-icon-arrow-2-ne-sw
{
    background-position: -144px -32px;
}

.ui-icon-arrow-2-e-w
{
    background-position: -160px -32px;
}

.ui-icon-arrow-2-se-nw
{
    background-position: -176px -32px;
}

.ui-icon-arrowstop-1-n
{
    background-position: -192px -32px;
}

.ui-icon-arrowstop-1-e
{
    background-position: -208px -32px;
}

.ui-icon-arrowstop-1-s
{
    background-position: -224px -32px;
}

.ui-icon-arrowstop-1-w
{
    background-position: -240px -32px;
}

.ui-icon-arrowthick-1-n
{
    background-position: 0 -48px;
}

.ui-icon-arrowthick-1-ne
{
    background-position: -16px -48px;
}

.ui-icon-arrowthick-1-e
{
    background-position: -32px -48px;
}

.ui-icon-arrowthick-1-se
{
    background-position: -48px -48px;
}

.ui-icon-arrowthick-1-s
{
    background-position: -64px -48px;
}

.ui-icon-arrowthick-1-sw
{
    background-position: -80px -48px;
}

.ui-icon-arrowthick-1-w
{
    background-position: -96px -48px;
}

.ui-icon-arrowthick-1-nw
{
    background-position: -112px -48px;
}

.ui-icon-arrowthick-2-n-s
{
    background-position: -128px -48px;
}

.ui-icon-arrowthick-2-ne-sw
{
    background-position: -144px -48px;
}

.ui-icon-arrowthick-2-e-w
{
    background-position: -160px -48px;
}

.ui-icon-arrowthick-2-se-nw
{
    background-position: -176px -48px;
}

.ui-icon-arrowthickstop-1-n
{
    background-position: -192px -48px;
}

.ui-icon-arrowthickstop-1-e
{
    background-position: -208px -48px;
}

.ui-icon-arrowthickstop-1-s
{
    background-position: -224px -48px;
}

.ui-icon-arrowthickstop-1-w
{
    background-position: -240px -48px;
}

.ui-icon-arrowreturnthick-1-w
{
    background-position: 0 -64px;
}

.ui-icon-arrowreturnthick-1-n
{
    background-position: -16px -64px;
}

.ui-icon-arrowreturnthick-1-e
{
    background-position: -32px -64px;
}

.ui-icon-arrowreturnthick-1-s
{
    background-position: -48px -64px;
}

.ui-icon-arrowreturn-1-w
{
    background-position: -64px -64px;
}

.ui-icon-arrowreturn-1-n
{
    background-position: -80px -64px;
}

.ui-icon-arrowreturn-1-e
{
    background-position: -96px -64px;
}

.ui-icon-arrowreturn-1-s
{
    background-position: -112px -64px;
}

.ui-icon-arrowrefresh-1-w
{
    background-position: -128px -64px;
}

.ui-icon-arrowrefresh-1-n
{
    background-position: -144px -64px;
}

.ui-icon-arrowrefresh-1-e
{
    background-position: -160px -64px;
}

.ui-icon-arrowrefresh-1-s
{
    background-position: -176px -64px;
}

.ui-icon-arrow-4
{
    background-position: 0 -80px;
}

.ui-icon-arrow-4-diag
{
    background-position: -16px -80px;
}

.ui-icon-extlink
{
    background-position: -32px -80px;
}

.ui-icon-newwin
{
    background-position: -48px -80px;
}

.ui-icon-refresh
{
    background-position: -64px -80px;
}

.ui-icon-shuffle
{
    background-position: -80px -80px;
}

.ui-icon-transfer-e-w
{
    background-position: -96px -80px;
}

.ui-icon-transferthick-e-w
{
    background-position: -112px -80px;
}

.ui-icon-folder-collapsed
{
    background-position: 0 -96px;
}

.ui-icon-folder-open
{
    background-position: -16px -96px;
}

.ui-icon-document
{
    background-position: -32px -96px;
}

.ui-icon-document-b
{
    background-position: -48px -96px;
}

.ui-icon-note
{
    background-position: -64px -96px;
}

.ui-icon-mail-closed
{
    background-position: -80px -96px;
}

.ui-icon-mail-open
{
    background-position: -96px -96px;
}

.ui-icon-suitcase
{
    background-position: -112px -96px;
}

.ui-icon-comment
{
    background-position: -128px -96px;
}

.ui-icon-person
{
    background-position: -144px -96px;
}

.ui-icon-print
{
    background-position: -160px -96px;
}

.ui-icon-trash
{
    background-position: -176px -96px;
}

.ui-icon-locked
{
    background-position: -192px -96px;
}

.ui-icon-unlocked
{
    background-position: -208px -96px;
}

.ui-icon-bookmark
{
    background-position: -224px -96px;
}

.ui-icon-tag
{
    background-position: -240px -96px;
}

.ui-icon-home
{
    background-position: 0 -112px;
}

.ui-icon-flag
{
    background-position: -16px -112px;
}

.ui-icon-calendar
{
    background-position: -32px -112px;
}

.ui-icon-cart
{
    background-position: -48px -112px;
}

.ui-icon-pencil
{
    background-position: -64px -112px;
}

.ui-icon-clock
{
    background-position: -80px -112px;
}

.ui-icon-disk
{
    background-position: -96px -112px;
}

.ui-icon-calculator
{
    background-position: -112px -112px;
}

.ui-icon-zoomin
{
    background-position: -128px -112px;
}

.ui-icon-zoomout
{
    background-position: -144px -112px;
}

.ui-icon-search
{
    background-position: -160px -112px;
}

.ui-icon-wrench
{
    background-position: -176px -112px;
}

.ui-icon-gear
{
    background-position: -192px -112px;
}

.ui-icon-heart
{
    background-position: -208px -112px;
}

.ui-icon-star
{
    background-position: -224px -112px;
}

.ui-icon-link
{
    background-position: -240px -112px;
}

.ui-icon-cancel
{
    background-position: 0 -128px;
}

.ui-icon-plus
{
    background-position: -16px -128px;
}

.ui-icon-plusthick
{
    background-position: -32px -128px;
}

.ui-icon-minus
{
    background-position: -48px -128px;
}

.ui-icon-minusthick
{
    background-position: -64px -128px;
}

.ui-icon-close
{
    background-position: -80px -128px;
}

.ui-icon-closethick
{
    background-position: -96px -128px;
}

.ui-icon-key
{
    background-position: -112px -128px;
}

.ui-icon-lightbulb
{
    background-position: -128px -128px;
}

.ui-icon-scissors
{
    background-position: -144px -128px;
}

.ui-icon-clipboard
{
    background-position: -160px -128px;
}

.ui-icon-copy
{
    background-position: -176px -128px;
}

.ui-icon-contact
{
    background-position: -192px -128px;
}

.ui-icon-image
{
    background-position: -208px -128px;
}

.ui-icon-video
{
    background-position: -224px -128px;
}

.ui-icon-script
{
    background-position: -240px -128px;
}

.ui-icon-alert
{
    background-position: 0 -144px;
}

.ui-icon-info
{
    background-position: -16px -144px;
}

.ui-icon-notice
{
    background-position: -32px -144px;
}

.ui-icon-help
{
    background-position: -48px -144px;
}

.ui-icon-check
{
    background-position: -64px -144px;
}

.ui-icon-bullet
{
    background-position: -80px -144px;
}

.ui-icon-radio-on
{
    background-position: -96px -144px;
}

.ui-icon-radio-off
{
    background-position: -112px -144px;
}

.ui-icon-pin-w
{
    background-position: -128px -144px;
}

.ui-icon-pin-s
{
    background-position: -144px -144px;
}

.ui-icon-play
{
    background-position: 0 -160px;
}

.ui-icon-pause
{
    background-position: -16px -160px;
}

.ui-icon-seek-next
{
    background-position: -32px -160px;
}

.ui-icon-seek-prev
{
    background-position: -48px -160px;
}

.ui-icon-seek-end
{
    background-position: -64px -160px;
}

.ui-icon-seek-start
{
    background-position: -80px -160px;
}

.ui-icon-stop
{
    background-position: -96px -160px;
}

.ui-icon-eject
{
    background-position: -112px -160px;
}

.ui-icon-volume-off
{
    background-position: -128px -160px;
}

.ui-icon-volume-on
{
    background-position: -144px -160px;
}

.ui-icon-power
{
    background-position: 0 -176px;
}

.ui-icon-signal-diag
{
    background-position: -16px -176px;
}

.ui-icon-signal
{
    background-position: -32px -176px;
}

.ui-icon-battery-0
{
    background-position: -48px -176px;
}

.ui-icon-battery-1
{
    background-position: -64px -176px;
}

.ui-icon-battery-2
{
    background-position: -80px -176px;
}

.ui-icon-battery-3
{
    background-position: -96px -176px;
}

.ui-icon-circle-plus
{
    background-position: 0 -192px;
}

.ui-icon-circle-minus
{
    background-position: -16px -192px;
}

.ui-icon-circle-close
{
    background-position: -32px -192px;
}

.ui-icon-circle-triangle-e
{
    background-position: -48px -192px;
}

.ui-icon-circle-triangle-s
{
    background-position: -64px -192px;
}

.ui-icon-circle-triangle-w
{
    background-position: -80px -192px;
}

.ui-icon-circle-triangle-n
{
    background-position: -96px -192px;
}

.ui-icon-circle-arrow-e
{
    background-position: -112px -192px;
}

.ui-icon-circle-arrow-s
{
    background-position: -128px -192px;
}

.ui-icon-circle-arrow-w
{
    background-position: -144px -192px;
}

.ui-icon-circle-arrow-n
{
    background-position: -160px -192px;
}

.ui-icon-circle-zoomin
{
    background-position: -176px -192px;
}

.ui-icon-circle-zoomout
{
    background-position: -192px -192px;
}

.ui-icon-circle-check
{
    background-position: -208px -192px;
}

.ui-icon-circlesmall-plus
{
    background-position: 0 -208px;
}

.ui-icon-circlesmall-minus
{
    background-position: -16px -208px;
}

.ui-icon-circlesmall-close
{
    background-position: -32px -208px;
}

.ui-icon-squaresmall-plus
{
    background-position: -48px -208px;
}

.ui-icon-squaresmall-minus
{
    background-position: -64px -208px;
}

.ui-icon-squaresmall-close
{
    background-position: -80px -208px;
}

.ui-icon-grip-dotted-vertical
{
    background-position: 0 -224px;
}

.ui-icon-grip-dotted-horizontal
{
    background-position: -16px -224px;
}

.ui-icon-grip-solid-vertical
{
    background-position: -32px -224px;
}

.ui-icon-grip-solid-horizontal
{
    background-position: -48px -224px;
}

.ui-icon-gripsmall-diagonal-se
{
    background-position: -64px -224px;
}

.ui-icon-grip-diagonal-se
{
    background-position: -80px -224px;
}
#password::-ms-reveal
{
    display: none;
}