/* CSS exceptions needed for IE6*/

.dropdown_button_image 
{
    _margin: 0px 0px 0px -3px;
}

#B .content
{
    /*_width: 100%;*/
    _position: static !important;
    /*_overflow: hidden;*/
}

div#F .content
{
    _height: 53px;
}

#site-bottom-bar 
{
    _position: relative;
    _display: none; 
}

.status-wrapper .reviewed span.status-colour-square
{
    _font-size: 0px;
}

.gu1.final 
{
    _width: 24%;
}

.status-wrapper
{
    _padding: 0px;
    _margin: 4px 0px 4px 5px;
}

.status-wrapper.first
{
    _margin-bottom: 6px;
}

.side-menu-icon.first
{
    _margin-right: 1px;   
}

ol li {_display:inline-block;}
ol li {_display:block;}

.section_title
{
    _padding-bottom: 1px;
}

div.heading
{
    _height: 1%;
}

#flag_filled
{
    _margin-left: 4px;    
}

div.PopupBackgroundBlock
{
    _position: absolute;
    _z-index: 100;
}

div.floating_window
{
    _z-index: 101;
}

.uname
{
    _margin-right: -3px;
}

#H #sub-menu
{
    _margin-left: 0px;    
}

.gbutton
{
    _display: inline;
    _position: static;
}

.gbutton a:hover
{
   _text-decoration: none;
}

#listing_preview_table_wrapper
{
    _width: 99%;
    _padding-bottom: 20px;
    _overflow: hidden;
}

.new_titlebg
{
    _height:1%;
}

.div.dashboard
{
    _height:100%;    
}

ul.dropdown ul ul
{
    _top: 80%;
}

.plus.dark, .plus.dark:hover
{
    _background-position: 0 0;
}

.minus.dark, .minus.dark:hover
{
    _background-position: -16px 0;
}

.prev.dark, .prev.dark:hover
{
    _background-position: -32px 0;
}

.next.dark, .next.dark:hover
{
    _background-position: -48px 0;
}

.first.dark, .first.dark:hover
{
    _background-position: -64px 0;
}

.last.dark, .last.dark:hover
{
    _background-position: -80px 0;
}

.switch.dark, .switch.dark:hover
{
    _background-position: -96px 0;
}

.help.dark, .help.dark:hover
{
    _background-position: -112px 0;
}

.info.dark, .info.dark:hover
{
    _background-position: -128px 0;
}

.plus.light, .plus.light:hover
{
    _background-position: 0 -16px;
}

.minus.light, .minus.light:hover
{
    _background-position: -16px -16px;
}

.prev.light, .prev.light:hover
{
    _background-position: -32px -16px;
}

.next.light, .next.light:hover
{
    _background-position: -48px -16px;
}

.first.light, .first.light:hover
{
    _background-position: -64px -16px;
}

.last.light, .last.light:hover
{
    _background-position: -80px -16px;
}

.switch.light, .switch.light:hover
{
    _background-position: -96px -16px;
}

.help.light, .help.light:hover
{
    _background-position: -112px -16px;
}

.info.light, .info.light:hover
{
    _background-position: -128px -16px;
}

.plus.orange, .plus.orange:hover
{
    _background-position: 0 -32px;
}

.minus.orange, .minus.orange:hover
{
    _background-position: -16px -32px;
}

.prev.orange, .prev.orange:hover
{
    _background-position: -32px -32px;
}

.next.orange, .next.orange:hover
{
    _background-position: -48px -32px;
}

.first.orange, .first.orange:hover
{
    _background-position: -64px -32px;
}

.last.orange, .last.orange:hover
{
    _background-position: -80px -32px;
}

.switch.orange, .switch.orange:hover
{
    _background-position: -96px -32px;
}

.help.orange, .help.orange:hover
{
    _background-position: -112px -32px;
}

.info.orange, .info.orange:hover
{
    _background-position: -128px -32px;
}

.more-options
{
    _background-image: none !important;
    /* src must be relative to page not css */
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Images/new/icons/more-options.png' ,sizingMethod='crop');
}

.form-item, .codefield-container, .codefield-label, .section_title_row, #rows_date_option_row, #columns_date_option_row, #rows_date_option_row label, #columns_date_option_row label, #count-style-sum label, #count-style-ave label, #count-style-value-at label, #count-style-initial-levels label, #rows_date_option_row div, #columns_date_option_row div, #count-style-sum div, #count-style-ave div, #count-style-value-at div, #count-style-calendar div, #count-style-initial-levels div
{
   _position: relative !important;
}

#rows_date_option_row, #columns_date_option_row, #count-style-sum, #count-style-ave, #count-style-value-at, #count-style-calendar, #count-style-initial-levels
{
    _overflow: visible !important;
    _height: auto !important;
}

#traffic_fields_colour_row
{
    _height: auto !important;
}

.section_title
{
    _float: none !important;
}

#designer-wrapper
{
    _width: auto !important;
}

#designer-wrapper .viewport, #designer-wrapper .heading, #designer-wrapper #form-actions
{
    _width: 450px !important;
}

.collapse .trigger
{
    _float: none  !important;
    _position: absolute !important;
    _top: 5px !important;
    _right: 10px !important;
}

#report-selector-container .form-item
{
    _z-index: 500 !important;
}

#content-container
{
    _width: 100% !important;
}

.report-viewport
{
    _width: 100% !important;
}

#floating_window_contents_exportoptions input, #null-option input, #limit_to_top_checkbox
{
    _width: auto !important;
}

.widget .settings_link
{
    _right: 5px !important;
    _top: 2px !important;
}