table, caption, tbody, tfoot, thead, tr, th, td {
    vertical-align: baseline;
    outline: 0;
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    width: 100%;
}

caption, th, td {
    text-align: left;
    vertical-align: middle;
}

td, th {
    padding: 5px;
    color: #083c5c;
}

td {
    color: #083c5c;
}

td.sort {
    background-color: #f8f8f8;
}

table input {
    margin: 0;
}

.tableHeader {
    background-color: #083c5c;
    color: #FFF;
}

.tableHeader a, .tableHeader th {
    color: #FFF;
}

.tableHeader a.sort {
    background: url(../Images/sorter-sprite.png) right 0.09em no-repeat transparent;
    padding-right: 1.18em;
}

.tableHeader a.sort.asc {
    background-position: right -19px;
}

tr.records {
    background-color: #a3e066;
    color: #FFF;
    padding: 2px;
}

tr.overdue {
    background-color: #ff6666;
    color:#FFF;
    padding: 2px;
}

tr.approved {
    background-color: #cbeea8;
    color: #FFF;
    padding: 2px;
}

tr.overdue a, tr.records a {
    color: #000;
}

table .selector {
    width: 0.8125em;
}

table, tr, td {
    border: 1px solid #000000;
}