body
{
    color: #000 !important;
    font-family: tahoma, arial, helvetica, sans-serif !important;
    font-size: 12px !important;
    overflow: visible !important;
    height: 100% !important;
    vertical-align: top !important;
}

#title-additional
{
    font-size: 14px !important;
}

h1
{
    font-size: 18px !important;
}

h2
{
    font-size: 16px !important;
}

#B
{
    margin: 0 0 50px !important;
}
#H
{

}

.logo
{
    float: right !important;
}

.colour-logo, .new_link_row, .uname, .skip-nav, #floating_window_encasement_print-options, #floating_window_back_panel, #show-print-options, #show-print-options, .title_rhs_container .toggle-trigger
{
    display: none !important;
}

.grey-logo
{
    display: block !important;
}

.section_title_row, .field_div
{
    overflow: auto !important;
}

.section_title_row
{
    font-weight: bold !important;
    border-bottom: 2px solid #666 !important;
    page-break-after: avoid !important;
}

.section_title_group
{
    float: left !important;
}

.title_rhs_container
{
    float: right !important;
}

ul, ol, .section_div, .section_div ul
{
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
}

.field_div
{
    border-bottom: 1px solid #ccc !important;
}

.field_label_div
{
    width: 25% !important;
    float: left !important;
}

.field_label_div.nofloat
{
    float: none !important;
    width: 100% !important;
}

.field_input_div
{
    background: none !important;
    width: 70% !important;
    position: static !important;
}

.field_input_div span
{
    background: none !important;
}

li
{
    width: 100% !important;
    margin: 0 0 5px !important;
    padding: 0 0 5px !important;
}

table
{
    border-collapse: collapse !important;
    page-break-inside: auto !important;
    vertical-align: top !important;
}

th
{
    border: 1px solid #666 !important;
    padding: 5px !important;
    vertical-align: top !important;
}

td
{
    border: 1px solid #666 !important;
    padding: 5px !important;
    vertical-align: top !important;
}

td.no-border
{
    border: none !important;
}

table#print-table thead
{
    display: table-header-group !important;
}

table#print-table tbody
{
    vertical-align: top !important;
}

table#print-table tfoot
{
    display: table-footer-group !important;
}

#print-footer
{
    border-top: 2px solid #000 !important;
    padding: 10px 0 0 !important;
    margin: 10px 0 0 !important;
}

#F
{
    page-break-before: avoid !important;
}