.customReportTooltip
{
border: 1px solid #000000;
background-color: #FFFFE1;
position: absolute;
padding: 1px;
font-size: 8pt;
}

.customReportTooltipFusion
{
border: 1px solid #6e6e6e;
color: #6e6e6e;
background-color: #ffffff;
position: absolute;
padding: 1px;
font-size: 8pt;
}

#chartContainer div {
    width: 100%;
    height: 100%;
}