span, input, textarea, .field_extra_text, #floating_window_contents_help, .field_label_div, .heading, .section_title,
.datixSelect, .floating_window_title, .field_input_div, .formbg, .bordercolor
{
    direction: RTL;
    unicode-bidi: embed;
}

div.title_rhs_container 
{
    float: left;
}

.title_img, div.section_title_group, .field_label_div, .field_input_div input, .field_input_div textarea, img.cal,
.dropdown_button_image, .mandatory_image, .section_title, .multiSelectList, .mutlilistbox_image, .new_windowbg input,
.titlebg b, .bordercolor, #risk_grading_titles, #risk_grading_fields
{
    float: right;
}

img[id$="help_image"], .dropdown_button_image
{
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}

th.risk_matrix_title, th.risk_matrix_header {
    text-align: right;
}

.check_spelling {
    display: none;
}