/* Login */

#login .login-wrap {padding:10px; margin:20px; background-color:#E8EDF1; border:3px solid #D1DCE2;}
#login .login-wrap table,
#login .login-wrap td {border:none;}

#login .login-wrap h1 {font-size:20px; color:#094368;}
#login .login-wrap td label {font-size:16px; color:#094368;}
#login .login-wrap td input[type="text"],
#login .login-wrap td input[type="password"] {border:2px solid #D1DCE2; padding:5px; width:240px; }

#login .login-wrap td input[type="submit"] {font-size:16px;}

#login #H {height:100%;}
#login #H .login-options {padding:10px; color:#fff;}

#login #H .login-options .time {font-size:12px; font-weight:bold; margin-bottom:5px;}
#login #H .login-options .menu a {color:#fff; font-size:14px; font-weight:bold;}
#login #H .login-options .menu a:hover {color:#FC0;}