#report-selector-container
{
    position: relative;
    background: #f5f9ff;
    height: 140px;
    overflow: hidden;
}

.report-selector-viewport
{
    margin: 0 auto;
    overflow: hidden;
    padding: 5px;
}

.report-selector
{
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.report-selector .item
{
    overflow: visible;
    float: left;
    width: 100px;
    height: 120px;
    text-align: center;
}

#active
{
    border: 2px solid #f60;
    position: absolute;
    top: 3px;
}

#report-selector-controls
{
    position: absolute;
    height: 16px;
    width: 100%;
    top: 50%;
}

#report-selector-controls a
{
    position: absolute;
    top: -8px;
    cursor: pointer;
}

#report-selector-prev
{
    left: 10px;
}

#report-selector-next
{
    right: 10px;
}