#content
{
    background: #f5f9ff;
}

#designer-container
{
    position: absolute;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    z-index: 10;
}

#designer-wrapper
{
    background: #fff;
    overflow: hidden;
}

.collapse-designer
{
    cursor: pointer;
    height: 34px;
    width: 20px;
    padding: 18px 0 0;
    position: absolute;
    right: -22px;
    top: 2px;
    text-align: center;
    background: #083c5c;
    border: 1px solid #fff;
    border-left: none;
    z-index: 0;
}

.heading h1 img
{
    float: none !important;
    vertical-align: middle;
    margin: 0 10px 5px 0 !important;
}

.heading span
{
    display: inline  !important;
}

h2
{
    font-size: 15px;
    font-weight: bold;
    background: #d1dcf2;
    color: #083c5c;
    margin: 0;
    padding: 5px 0 10px 0;
    border-bottom: 1px solid #083c5c;
}

h2 img
{
    margin: 0 10px 0 0;
    vertical-align: middle;
}

.section
{
    background: #d1dcf2;
    border-top: #094367 1px solid;
}

.section_title_row
{
    line-height: 16px;
}

div.section_title_group
{
    float: none;
    line-height: 16px;
}

.section_title_row.first
{
    border: none;
}

.section_title
{
    float: left;
    line-height: 16px;
}

.required
{
    color: #666;
    display: block;
    float: left;
    margin: 0 0 0 5px;
}

.section.collapse
{
    margin: 0 0 20px;
}

.section .inner
{
    padding: 5px 0 0;
}

.section h3
{
    color: #083c5c;
    padding: 0 0 5px 3px;
    margin: 0;
}

.section h3.trigger
{
    cursor: pointer;
}

#toggle-view
{
    display: inline-block;
    background: #999;
    color: #fff;
    position: absolute;
    right: -20px;
    top: 45%;
    padding: 20px 2px;
    line-height: 10px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.toggle-container .trigger
{
    font-size: 12px;
}

.collapse
{
    /*position: relative;*/
}

.collapse .target
{
    margin: 0;
}

.collapse .holder
{
    background: #d1dcf2;
    position: absolute;
    border-top: 1px solid #999;
    text-align: center;
    width: 410px;
    height: 20px;
    bottom: -20px;
    left: -2px;
}

.collapse .trigger
{
    cursor: pointer;
    display: inline-block;
    float: right;
}

.collapse .trigger .ui-icon
{
    margin: 0 auto;
}

#viewport
{
    overflow: hidden;
    position: relative;
    width: 450px;
    height: 580px;
}

.administration #viewport
{
    overflow: visible;
    position: relative;
    width: 100%;
    height: 100%;
}

#viewport-container
{
    background: #d1dcf2;
    padding: 0 2px 2px;
    width: auto;
}

.scroll-button
{
    width: 410px;
    text-align: center;
    position: absolute;
    height: 20px;
    background: #e7edf0;
    cursor: pointer;
    z-index: 100;
}

#scroll-up
{
    top: 0;
    border-bottom: 1px solid #999;
}

#scroll-down
{
    bottom: 0;
    border-top: 1px solid #999;
}

.scroll-button .ui-icon
{
    margin: 0 auto;
}

-form
{
    padding: 5px;
    background: #fff;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    border: 2px solid #999;
    height: 100%;
    text-align: left;
}

fieldset
{
    margin: 0 0 20px;
}

label
{
    color: #083c5c;
    display: inline-block;
    width: 150px;
    line-height: 18px;
    vertical-align: middle;
}

label.control-label
{
    width: 180px;
}

label.codefield-label, label.radio-label
{
    float: left;
    margin: 5px 0 0 0;
}

.codefield-container
{
    float: left;
}

.radio-container
{
    float: left;
    vertical-align: middle;
}

.radio-container .item
{
    margin: 0 0 5px;
}

label.radio
{
    display: block;
    width: 95px;
    cursor: pointer;
}

label.check
{
    vertical-align: middle;
}

label.radio.margin
{
    margin: 0 0 10px;
}

input, select
{
    width: 170px;
}

input#title
{
    width: 223px;
}

input.small
{
    width: 40px;
}

input[type="radio"], input[type="checkbox"]
{
    width: auto;
    cursor: pointer;
    vertical-align: middle;
    margin: 0;
}

.short input, .short select
{
    width: 140px;
}

#report-type
{
    text-align: left;
}

#report-type .item-container
{
    position: relative;
    display: inline-block;
    width: 77px;
    height: 77px;
    vertical-align: top;
    margin: 0 7px 15px 0;
}

#report-type .item
{
    display: inline-block;
    width: 75px;
    height: 75px;
    border: 1px solid #999;
    vertical-align: top;
}

#report-type .parent
{
    z-index: 0;
    position: relative;
}

#report-type .more-options
{
    position: absolute;
    width: 75px;
    height: 20px;
    background: url('../../../Images/new/icons/more-options.png') no-repeat;
    bottom: 0;
    left: 0;
}

#report-type .active
{
    outline: 0;
}

#report-type .options
{
    display: none;
    position: absolute;
    top: 77px;
    left: 0;
    z-index: 200;
}

#report-type .options .item-container
{
    margin: 0;
}

#report-type .options .item
{
    border-top: 0;
}

#report-type #active
{
    border: 2px solid #f60;
    position: absolute;
    width: 75px;
    height: 75px;
    top: -2px;
    left: -2px;
}

#traffic-light-options td, #traffic-light-options th, #traffic-light-options table, #traffic-light-options .field_div
{
    background: none;
    border: none;
}

#traffic_fields_colour_row
{
    overflow: visible;
}
#gauge-options label
{
    width: 80px;
    text-align: right;
    margin: 0 5px 0 0;
}

#gauge-options #gaugesection_1_minvalue_label, #gauge-options #gaugesection_2_minvalue_label, #gauge-options #gaugesection_3_minvalue_label
{
    width: 60px;
}

#gauge-options #section1max_label, #gauge-options #section2max_label, #gauge-options #section3max_label
{
    width: 100px;
}

#gauge-options #section1colour_label, #gauge-options #section2colour_label, #gauge-options #section3colour_label
{
    width: 60px;
}

#gauge-options .mandatory_image
{
    float: none;
}

#gauge-options .values
{
    width: 30px;
    margin: 0 5px 10px 0;
}

#gauge-options .colour-picker, #traffic-light-options .colour-picker
{
    width: 60px;
}

#form-actions
{
    padding: 5px 0 5px 5px;
    border-top: 1px solid #999;
    white-space: nowrap;
}

.form-item
{
    background: #f5f9ff;
    border-bottom: 1px #d1dcf2 solid;
    padding: 10px 10px;
}

.note
{
    font-size: 11px;
    margin: 10px 0 0;
}

#report
{
    color: #666;
    font-weight: bold;
    background: #C5D7EB;
    height: 700px;
    width: 100%;
    text-align: center;
}

#report #empty
{
    padding: 300px 0 0;
}

.icon
{
    background: url(../../../Images/new/icons/icons-sprite.png) no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon.plus
{
    background-position: 0 0;
}

.icon.minus
{
    background-position: -16px 0;
}

.icon.prev
{
    background-position: -32px 0;
}

.icon.next
{
    background-position: -48px 0;
}

.icon.first
{
    background-position: -64px 0;
}

.icon.last
{
    background-position: -80px 0;
}

.icon.switch
{
    background-position: -96px 0;
}

.icon.help
{
    background-position: -112px 0;
    vertical-align: text-bottom;
}

.icon.info
{
    background-position: -128px 0;
    vertical-align: text-bottom;
}

.icon.plus:hover
{
    background-position: 0 -16px;
}

.icon.minus:hover
{
    background-position: -16px -16px;
}

.icon.prev:hover
{
    background-position: -32px -16px;
}

.icon.next:hover
{
    background-position: -48px -16px;
}

.icon.first:hover
{
    background-position: -64px -16px;
}

.icon.last:hover
{
    background-position: -80px -16px;
}

.icon.switch:hover
{
    background-position: -96px -16px;
}

.icon.help:hover
{
    background-position: -112px -16px;
}

.icon.info:hover
{
    background-position: -128px -16px;
}

.icon.plus.dark, .icon.plus.dark:hover
{
    background-position: 00;
}

.icon.minus.dark, .icon.minus.dark:hover
{
    background-position: -16px 0;
}

.icon.prev.dark, .icon.prev.dark:hover
{
    background-position: -32px 0;
}

.icon.next.dark, .icon.next.dark:hover
{
    background-position: -48px 0;
}

.icon.first.dark, .icon.first.dark:hover, .open_designer
{
    background-position: -64px 0;
}

.icon.last.dark, .icon.last.dark:hover, .close_designer
{
    background-position: -80px 0;
}

.icon.switch.dark, .icon.switch.dark:hover
{
    background-position: -96px 0;
}

.icon.help.dark, .icon.help.dark:hover
{
    background-position: -112px 0;
}

.icon.info.dark, .icon.info.dark:hover
{
    background-position: -128px 0;
}

.icon.plus.light, .icon.plus.light:hover
{
    background-position: 0 -16px;
}

.icon.minus.light, .icon.minus.light:hover
{
    background-position: -16px -16px;
}

.icon.prev.light, .icon.prev.light:hover
{
    background-position: -32px -16px;
}

.icon.next.light, .icon.next.light:hover
{
    background-position: -48px -16px;
}

.icon.first.light, .icon.first.light:hover
{
    background-position: -64px -16px;
}

.icon.last.light, .icon.last.light:hover
{
    background-position: -80px -16px;
}

.icon.switch.light, .icon.switch.light:hover
{
    background-position: -96px -16px;
}

.icon.help.light, .icon.help.light:hover
{
    background-position: -112px -16px;
}

.icon.info.light, .icon.info.light:hover
{
    background-position: -128px -16px;
}

.icon.plus.orange, .icon.plus.orange:hover
{
    background-position: 0 -32px;
}

.icon.minus.orange, .icon.minus.orange:hover
{
    background-position: -16px -32px;
}

.icon.prev.orange, .icon.prev.orange:hover
{
    background-position: -32px -32px;
}

.icon.next.orange, .icon.next.orange:hover
{
    background-position: -48px -32px;
}

.icon.first.orange, .icon.first.orange:hover
{
    background-position: -64px -32px;
}

.icon.last.orange, .icon.last.orange:hover
{
    background-position: -80px -32px;
}

.icon.switch.orange, .icon.switch.orange:hover
{
    background-position: -96px -32px;
}

.icon.help.orange, .icon.help.orange:hover
{
    background-position: -112px -32px;
}

.icon.info.orange, .icon.info.orange:hover
{
    background-position: -128px -32px;
}

.clearer
{
    clear: both;
}

.pull-left
{
    float: left;
}

.pull-right
{
    float: right;
}

.no-break
{
   white-space: nowrap;
}

.form-item.ui-widget
{
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 1em;
}

.ui-datepicker
{
    font-size: 0.8em;
}

.custom-combobox {
    position: relative;
    display: inline-block;
}
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* support: IE7 */
    *height: 1.7em;
    *top: 0.1em;
}
.custom-combobox-input {
    margin: 0;
    padding: 0.3em;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 200px;
}

*.unselectable, .colorpicker, .icon, #designer-container {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}
