#H, #F, #designer-container, .button_wrapper, .colorpicker, #testSize
{
    display: none !important;
}

*
{
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    /*width: 100% !important;*/
}

#report-container{
	float: none;
}

#myFusionChartReport svg{
	zoom: 70%;
}

@page {
  size: A4 landscape;
}