#report-container
{
    float: right;
}

.report-viewport
{
    overflow: hidden;
}

.report-listing .report-viewport
{
    overflow: auto;
    position: relative;
}

.report-viewport .error
{
    border-top: 1px solid #c00;
    background: #fdd;
    color: #c00;
    padding: 5px 0;
    text-align: center;
    width: 100%;
}

.report-viewport .error a
{
    color: #c00;
    cursor: pointer;
}

.report-viewport .info-bar
{
    border-top: 1px solid #39f;
    padding: 4px 0;
    background: #def;
    color: #369;
    text-align: center;
}

#report-watermark
{
    color: #999;
    display: block;
    width: 500px;
    height: 270px;
    text-align: center;
    margin: 30px auto 0;
    font-size: 4em;
    padding: 220px 0 0;
    background-repeat: no-repeat;
}